/* body {
    margin: 0;
    color: #000;
}

body, html {
    height: 100%;
} */

@font-face {
    src: url(images/widget/serial.ttf);
    font-family: "serial";
}

@font-face {
    src: url(images/widget/os.otf);
    font-family: "os";
}

@font-face {
    src: url(images/timer.ttf);
    font-family: "timer";
}

.BombRenderer {
    width: 100%;
    height: 700px;
}

/* .BombRenderer {
    perspective: 1000px;
    perspective-origin: center;
    width: 100%;
    height: 700px;
    /* overflow: hidden;
}

.BombRenderer * {
    box-sizing: border-box;
    line-height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.BombRenderer img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bomb-rotator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    width: 570px;
    height: 370px;
}

.bomb-rotator-side {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.bomb-rotator-side.non-default {
    background-color: #000;
    background-image: linear-gradient(45deg, #333, #111);
}

.bomb-rotator-side-right.non-default {
    left: 50%;
}

.bomb-rotator-side-bottom.non-default, .bomb-rotator-side-top.non-default {
    top: 50%;
}

.bomb-side-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 22px 22px 20px 20px;
}

.bomb-rotator-side.non-default .bomb-side-content {
    padding: 20px;
}

.bomb-module-slot {
    position: relative;
    width: 151px;
    height: 153px;
    display: inline-block;
    margin: 7px 9.2px;
}

.bomb-module {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bomb-module-timer {
    background-image: url(images/timer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: default;
}

.bomb-module-empty {
    background-image: url(images/empty.png);
    background-size: 100% 100%;
    box-shadow: 0 0 10px #000;
}

.bomb-module-module {
    background-size: 100% 100%;
    box-sizing: content-box;
    cursor: default;
}

.bomb-module-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
}

.yellow-highlight {
    pointer-events: none;
}

:hover>.yellow-highlight {
    border-radius: 2px;
    border: 7px solid #FFD605;
    animation: highlight-hover 2s ease-in-out infinite;
}

@keyframes highlight-hover {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.bomb-module-module-icon {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.bomb-edgework-slot {
    position: relative;
    width: 102px;
    height: 54px;
    display: inline-block;
    margin: 7px 12px;
    vertical-align: top;
}

.bomb-edgework-slot-left, .bomb-edgework-slot-right {
    transform: rotate(90deg);
    margin: 30px -15px;
}

.bomb-side-content-left, .bomb-side-content-right {
    padding-top: 74px;
}

.bomb-side-content-top, .bomb-side-content-bottom {
    padding-left: 57px;
}

.bomb-rotator-side.default .bomb-edgework-slot-top:nth-child(3), .bomb-rotator-side.default .bomb-edgework-slot-top:nth-child(6), .bomb-rotator-side.default .bomb-edgework-slot-bottom:nth-child(3), .bomb-rotator-side.default .bomb-edgework-slot-bottom:nth-child(6) {
    margin-left: 61px;
}

.widget {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.widget .widget-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.widget-serial {
    background-image: url(images/widget/serial.png);
    font-family: "serial";
    font-size: 25px;
    padding: 25px 0 0 11px;
    color: #000;
}

.widget-battery-D {
    background-image: url(images/widget/batteryholderD.png);
}

.widget-battery-D-1 {
    background-image: url(images/widget/batteryD.png);
}

.widget-battery-AA {
    background-image: url(images/widget/batteryholderAA.png);
}

.widget-battery-AA-1 {
    background-image: url(images/widget/batteryAA.png);
}

.widget-battery-AA-2 {
    background-image: url(images/widget/batteryAA2.png);
}

.widget-port {
    background-image: url(images/widget/portplate.png);
}

.widget-port-DVI {
    background-image: url(images/widget/port/DVI.png);
}

.widget-port-Parallel {
    background-image: url(images/widget/port/Parallel.png);
}

.widget-port-PS2 {
    background-image: url(images/widget/port/PS2.png);
}

.widget-port-RJ45 {
    background-image: url(images/widget/port/RJ45.png);
}

.widget-port-Serial {
    background-image: url(images/widget/port/Serial.png);
}

.widget-port-StereoRCA {
    background-image: url(images/widget/port/StereoRCA.png);
}

.widget-indicator-unlit {
    background-image: url(images/widget/indicatoroff.png);
}

.widget-indicator-lit {
    background-image: url(images/widget/indicatoron.png);
}

.widget-indicator {
    font-family: "os";
    font-size: 27px;
    padding: 13px 10px 0 41px;
    color: #fff;
    text-align: center;
}

.bomb-module-timer-time {
    position: absolute;
    left: 14px;
    bottom: 32px;
    text-align: center;
    width: calc(100% - 25px);
    height: 69px;
    /* nice
    font-family: "timer";
    color: #f00;
    font-size: 43px;
    transform: scaleY(1.53);
    padding-left: 3px;
    overflow: hidden;
}

.bomb-module-timer-time-backing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    color: #8cc;
    padding: inherit;
}

.bomb-module-timer-highlight {
    position: absolute;
    top: 59px;
    left: 7px;
    width: 138px;
    height: 87px;
}

.bomb-module-strikes-highlight {
    position: absolute;
    top: 9px;
    left: 46px;
    width: 57px;
    height: 38px;
}

.bomb-module-timer-strike {
    position: absolute;
    top: 16px;
    left: 56%;
    width: 24px;
    height: 24px;
    background-image: url(images/strike.png);
    background-size: 100% 100%;
}

.bomb-module-timer-strikes {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    color: #f00;
    font-family: "timer";
    font-size: 20px;
    text-align: center;
    padding-right: 5px;
}

.bomb-module-hover-label {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    white-space: nowrap;
    padding: 3px 6px;
    background-color: #fffd;
    border: 1px solid #000;
    text-align: right;
    color: #000;
    transform: translateX(-100%);
    line-height: 100%;
}

.bomb-module-hover-label::first-line {
    font-weight: 900;
}

.bomb-module-hover-label>span {
    font-size: 12px;
} */
