@font-face {
    font-family: Alegreya;
    src: url(../../HTML/font/Alegreya-Bold.ttf);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    margin: 0;
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
}

@media screen {
    body {
        background: hsl(224, 22%, 27%);
    }

    #everything {
        box-sizing: border-box;
        width: 21cm;
        min-height: 100vh;
        margin: 0 auto;
        padding: 1.25cm;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        background: #232323;
    }
}

h1 {
    margin-top: 25pt;
    text-align: center;
    color: hsl(221, 86%, 36%);
    font-family: Alegreya;
    font-size: 36pt;
}

.flavour-text {
    font-style: italic;
    font-size: 11pt;
    text-align: center;
    color: white;
}

#everything {
    position: relative;
	color: white;
}

.author {
    position: absolute;
    top: .5cm;
    right: 1cm;
    font-size: 16pt;
    text-align: center;
    color: white;
}
    .author::before {
        content: 'a puzzle by';
        display: block;
        font-size: 8pt;
        color: white;
    }

.tier {
    position: absolute;
    top: .5cm;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 11pt;
}

a.solution-link {
    position: absolute;
    top: .5cm;
    left: 1cm;
}

.solution h2 {
    margin-top: 18pt;
    text-align: center;
    color: hsl(110, 30%, 50%);
    font-family: Alegreya;
    font-size: 28pt;
}

    .solution table {
        border-collapse: collapse;
        margin: .5cm auto;
    }
        .solution td, .solution th {
            border: 1px solid white;
            padding: .2em .5em;
            text-align: left;
        }

.solution .clue-phrase {
    color: hsl(110, 30%, 50%);
    font-weight: bold;
}

div.solution p.solution {
    border: .1cm solid hsl(110, 30%, 50%);
    width: 10cm;
    padding: 0 0 .2cm;
    font-size: 32pt;
    text-align: center;
    font-weight: bold;
    color: hsl(110, 30%, 50%);
    font-family: 'Anonymous Pro';
    margin: .75cm auto 0;
}

    div.solution p.solution::before {
        display: block;
        background: hsl(110, 30%, 50%);
        color: white;
        content: 'SOLUTION';
        margin: .05cm .05cm .2cm;
        font-size: 18pt;
        padding: .05cm 0 .1cm;
    }

@media print {
    div.page {
        page-break-after: always;
        padding-bottom: 0;
        margin-bottom: 0;
    }

        div.page:last-child {
            page-break-after: avoid;
        }

    .author {
        top: -.8cm;
        right: 1cm;
        font-size: 12pt;
    }
    .solution-link {
        display: none;
    }
    .tier {
        top: -.5cm;
    }
}

