body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    margin: 0;
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
}

@media screen {
    body {
        background: hsl(218, 80%, 95%);
    }

    #everything {
        box-sizing: border-box;
        width: 21cm;
        min-height: 100vh;
        margin: 0 auto;
        padding: 1.25cm;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        background: white;
    }
}

@media print {
    div.page {
        page-break-after: always;
    }

        div.page:last-child {
            page-break-after: avoid;
        }
}

h1 {
    margin-top: 25pt;
    text-align: center;
    color: hsl(220, 50%, 50%);
    font-family: DayPosterBlack;
    font-size: 36pt;
}

.flavour-text {
    font-style: italic;
    font-size: 11pt;
    text-align: center;
}
