.dark table, table {
    border: none;
}
.red, .pink, .orange, .yellow, .green, .sky, .blue, .purple, .black, .white {
    width: 30px;
}
.red { background-color: #dd7e6b; }
.pink { background-color: #f4cccc; }
.orange { background-color: #f9cb9c; }
.yellow { background-color: #ffe599; }
.green { background-color: #b6d7a8; }
.sky { background-color: #d0e0e3; }
.blue { background-color: #9fc5e8; }
.purple { background-color: #b4a7d6; }
.black { background-color: #808080; }
.white { background-color: #fff; }
.dkred { background-color: #5b0f00; }
.dorange { background-color: #783f04; }
.dyellow { background-color: #7f6000; }
.dgreen { background-color: #274e13; }
.dblue { background-color: #1c4587; }
.dpurple { background-color: #4c1130; }

.corner { color: white; }
.corner::after { content: 'boo'; }
td { text-align: center; }