.heading {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0;
}
ul { margin-top: 5px; }

.mazes-table {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.tmaze-row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.mazes-table div.tmaze-td {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border: none;
}

div.tmaze-outer {
    border: .7mm solid black;
    padding: .7mm;
    line-height: 0;
    display: inline-block;
}

svg.tmaze {
    border: .7mm solid black;
    padding: 2mm 3mm 3mm 2mm;
    width: 60mm;
}
svg.tmaze line {
    stroke: #000;
    stroke-width: .3px;
    stroke-linecap: square;
}
svg.tmaze text.cell {
    font-size: 14pt;
    font-weight: bold;
    text-anchor: middle;
}
svg.tmaze text.x-label {
    font-size: 9pt;
    text-anchor: middle;
}
svg.tmaze text.y-label {
    font-size: 9pt;
    text-anchor: end;
}

.dark table {
    border: none;
}
.dark svg.tmaze path, .dark svg.tmaze text {
    fill: #DDD;
}
.dark div.tmaze-outer, .dark svg.tmaze {
    border-color: #DDD;
}