
li { margin-bottom: .5em; }
ul { margin-bottom: 3em; }
.dark table, table { border: none; margin: 5em 0; }
td { padding: .3em .9em .2em; }
th { padding: .2em .3em; }
table.numbers td { text-align: right; }
table.words { width: 100%; }
table.words col.symbol { width: 10%; }
table.words th { text-decoration: underline; padding: .2em .5em; }
table.words img { width: 17mm; }
img { width: 10.5mm; }
.dark table img { filter: invert(87%); }