.footnote {
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
}

.page-content {
    position: relative;
}

.dark .example-grid,
.example-grid,
.example-grid th {
    border: none;
}
.example-grid tr:first-child{
    color: #c00;
}

.example-image {
    width: 30%;
}
.dark .example-image {
    filter: invert(90%) hue-rotate(180deg);
}

.page-footer::before { content: "Page "; }
.page-footer::after { content: " of 4"; }