.dark a,
a {
	display: inline-block;
	margin-right: .5em;
	text-decoration: none;
	color: white;
	font-size: 80%;
	transition: color .1s;

	background: #008;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	padding-left: .1em;
	box-sizing: border-box;
	font-family: monospace;
}

a:hover:not(.failed):not(.playing) {
	color: #ff8;
}

a.playing {
	color: #8f8;
}

a.failed {
	cursor: not-allowed;
	color: red;
}
