.hstack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hstack table {
    width: 49%;
    margin: .7em 0;
}
.sale { margin-bottom: 5px; }
html { line-height: 1.3; }
h3, p, ul {
    margin: 0;
    line-height: 1.25;
}