table.chess h4, table.chess p, p, ul {
    margin: 0;
}

ul {
    font-size: 0.9em;
}

#chessboard {
    display: block;
    margin: 0.5em;
    width: 80%;
}

#chessboard rect.white {
    fill: #fffd;
}
#chessboard rect.black {
    fill: #000d;
}
#chessboard rect.border {
    fill: none;
    stroke: #666;
    stroke-width: 10px;
}

#chessboard text {
    font-size: 30px;
    text-anchor: middle;
    dominant-baseline: middle;
    user-select: none;
}
.dark #chessboard text {
    fill: #DDD;
}

/* new */
