    .chess-board {
    width: 424px;
}

.chess-row, .chess-pieces {
    height: 60px;
}
    .chess-row.extra-height {
        height: 62px;
    }
    .chess-row.letters {
        margin-left: 60px;
    }

.chess-pieces {
    margin-top: 10px;
}

.square {
    width: 60px;
    height: 60px;
    float: left;
    font-size: 60px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: center;
    border: black 0px solid;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .chess-row, .chess-pieces {
        height: 40px;
    }
        .chess-row.extra-height {
            height: 42px;
        }
        .chess-row.letters {
            margin-left: 40px;
        }

    .square {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
}

.white.square, .black.square {
    cursor: pointer;
}

.white {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.black {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.white.occupied {
    background-color: rgba(255, 105, 105, 1);
    border-color: rgba(150, 0, 0, 1);
}

.black.occupied {
    background-color: rgba(150, 0, 0, 1);
    border-color: rgba(150, 0, 0, 1);
}

.piece {
    margin: 2px;
    cursor: pointer;
}

.piece.selected {
    margin: 0px;
    border: black 2px dashed;
}

button.reset {
    font-family: Special Elite;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: black 3px solid;
    transition: 0.3s;
}

button.reset:hover {
    background-color: black;
    color: white;
}

table.chess h4, table.chess p {
    margin: 0;
}