.hstack {
    justify-content: space-between;
}

.hstack table { width: 100%; }

tr.header th, th.header {
    text-align: center;
    background-color: #222222;
    color: #ffffff;
    border-color: #000000;
}
.dark tr.header th, .dark th.header {
    background-color: #DDD;
    color: #000;
    border-color: #FFF;
}

tr.header th span.center-quality {
    position: relative;
    left: -5px;
}

table.quality-sheet {
    border: none;
    width: 110%;
    margin: auto -5%;
    table-layout: fixed;
}

table.quality-sheet tr { height: 3.5em; }

th.selected {
    background-color: rgba(0, 0, 0, 0.3); /*Without alpha, #bbbbbb is a great value!  */
    background-image: url("../../img/Chord Qualities/X.svg");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50%;
}