.hstack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cb-venn-diagram {
    width: 100mm;
    display: block;
    margin: 0 auto 5mm;
}

.cb-legend {
    width: 82mm;
    margin-bottom: 1mm;
}

.dark table, table { border: none; }
#cb-venntable {
    width: 94mm;
    font-size: 9pt;
    border: 1mm solid black;
    margin-bottom: 1mm;
}
    #cb-venntable td { text-align: center; }
    #cb-venntable th { font-size: 12pt; }

.dark #cb-venntable { border-color: white; }
ol { margin-bottom: 0; }
.dark svg path, .dark svg ellipse { stroke: #DDD; }
.dark svg text { fill: #DDD; }
.page {
    background-repeat: repeat-y;
    background-position: top;
}