.venn-wires table th {
    font-size: 1.2em;
    font-weight: bold;
}

.venn-wires table td {
    text-align: center;
    font-size: 0.85em;
}

.venn-wires table td.venn-legend-text {
    text-align: left;
}

#venndiagram {
    display: block;
    width: 70%;
    position: relative;
    top: -2em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#vennlegend {
    width: 20em;
    float: left;
    position: relative;
    top: -0.7em;
}

[dir='rtl'] #vennlegend {
    float: right;
}

#venntable {
    border-width: 0.2em;
    position: relative;
    top: -0.7em;
}

    #venntable td {
        font-size: 0.75em;
    }

#vennlegendtable {
    width: 18em;
    float: left;
    position: relative;
    margin-right: 1em;
    top: -0.7em;
}

#vennlegendtable td img {
    text-align: center;
}

#vennlegendtable td {
    border: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#venninstructiontable {
    position: relative;
    top: -0.7em;
}

.venn-legend-line {
    margin: 1em 0;
    width: 10em;
}

.venn-wires .appendix-reference {
    margin-top: 0;
    position: relative;
}

.venn-wires table {
    border-width: 0.2em;
}

