span.footnote-marker {
    vertical-align: super;
    font-size: 70%;
}
.dark table, table {
    border: none;
}
p.footnote {
    font-size: 70%;
}
div.column {
    float: left;
    margin: 0 0 .7em;
}
div.column-1 { width: 37.5%; }
div.column-2 { width: 40.5%; }
div.column-3 { width: 22%; }
h4 {
    clear: both;
    margin: .7em 0 .2em;
}
div.footnotes {
    position: relative;
    margin-top: 2em;
    padding-top: 1em;
}
div.footnotes:before {
    border-top: 1px solid;
    left: 0;
    top: 0;
    position: absolute;
    width: 50mm;
    content: '';
}
table.coordinate-notations th {
    white-space: nowrap;
}
table.two-column-groups tr th:not(:first-child) {
    border-left: 1mm solid;
}