svg {
	display: block;
	stroke: white;
	width: 90%;
}
.dark svg {
	stroke: black;
	fill: #ccc;
	font-weight: bold;
}
path.wall {
	fill: none;
	stroke-width: .1em;
	stroke: black;
}
.dark path.wall {
	stroke: #ddd;
}
path.wall.passable {
	stroke-width: .05em;
	stroke: #666;
	stroke-dasharray: .1;
}
.dark path.wall.passable {
	stroke: #bbb;
}
path.outline {
	fill: none;
	stroke-width: .2em;
	stroke: black;
}
.dark path.outline {
	stroke: #ddd;
}
g.bridge {
	visibility: hidden;
}
.bridge-out {
	stroke-width: 0.8em;
	fill: none;
	stroke: black;
}
.dark .bridge-out {
	stroke: #ccc;
}
.bridge-in {
	fill: none;
	stroke-width: .5em;
	stroke: white;
	stroke-linecap: round;
}
.dark .bridge-in {
	stroke: #272727;
}
path.highlightable {
	stroke: none;
	fill: transparent;
}
img.diagram {
	position: relative;
	margin-top: -.6cm;
	margin-bottom: -1cm;
}
.page-content {
	position: relative;
}
.expand-maze {
	position: absolute;
	top: 15.51cm;
	left: 0;
	width: 1cm;
	height: 1cm;
	font-size: 24pt;
	border: none;
	background: transparent;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 0 0 L 0 30 L 8.8125 21.1875 L 33.8125 46.1875 L 46.1875 33.8125 L 21.1875 8.8125 L 30 0 L 0 0 z M 70 0 L 78.8125 8.8125 L 53.8125 33.8125 L 66.1875 46.1875 L 91.1875 21.1875 L 100 30 L 100 0 L 70 0 z M 33.8125 53.8125 L 8.8125 78.8125 L 0 70 L 0 100 L 30 100 L 21.1875 91.1875 L 46.1875 66.1875 L 33.8125 53.8125 z M 66.1875 53.8125 L 53.8125 66.1875 L 78.8125 91.1875 L 70 100 L 100 100 L 100 70 L 91.1875 78.8125 L 66.1875 53.8125 z " /></svg>');
}
.dark .expand-maze {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="%23ccc" d="M 0 0 L 0 30 L 8.8125 21.1875 L 33.8125 46.1875 L 46.1875 33.8125 L 21.1875 8.8125 L 30 0 L 0 0 z M 70 0 L 78.8125 8.8125 L 53.8125 33.8125 L 66.1875 46.1875 L 91.1875 21.1875 L 100 30 L 100 0 L 70 0 z M 33.8125 53.8125 L 8.8125 78.8125 L 0 70 L 0 100 L 30 100 L 21.1875 91.1875 L 46.1875 66.1875 L 33.8125 53.8125 z M 66.1875 53.8125 L 53.8125 66.1875 L 78.8125 91.1875 L 70 100 L 100 100 L 100 70 L 91.1875 78.8125 L 66.1875 53.8125 z " /></svg>');
}
.expand-maze.page2 {
	left: auto;
	right: 0;
}
@media print {
	.unprintable { display: none; }
}
.page.strip { --strip-color: #070707; }
