th {
    background-color: rgb(80, 80, 80);
    color: white;
}
.dark th { background-color: #666; }

tr:nth-child(2n+3) {
    background-color: rgb(220, 220, 220);
}
.dark tr:nth-child(2n+3) { background-color: #444; }
hr { border-color: #000; }
.dark hr { border-color: #DDD; }

table {
    text-align: center;
    width: inherit;
}

.icon {
    margin-left: 10px;
    height: 22.4px;
    float: right;
}

.weather tr td:nth-child(odd) {
    text-align: initial;
}