.dark table, table {
    margin: 1em auto;
    border: none;
    text-align: center;
}

.small { font-size: 14px; }
td { padding: .2em .33em .1em; }
.set1 td, .set2 td { line-height: 45px; }

.set1 td:nth-child(2) {
    font-family: '5Geomedings';
    font-size: 30px;
}
.set1 td:nth-child(3) {
    font-family: 'ArtOfCreation';
    font-size: 30px;
}
.set1 td:nth-child(4) {
    font-family: 'Barazhad';
    font-size: 30px;
}
.set1 td:nth-child(5) {
    font-family: 'BinarySoldiers';
    font-size: 30px;
}
.set1 td:nth-child(6) {
    font-family: 'Cait_sith';
    font-size: 30px;
}
.set1 td:nth-child(7) {
    font-family: 'Catabase';
    font-size: 15px;
}
.set1 td:nth-child(8) {
    font-family:'DeadSpace_Unitology';
    font-size: 30px;
}
.set1 td:nth-child(9) {
    font-family:'Epta';
    font-size: 35px;
}
.set1 td:nth-child(10) {
    font-family:'Glipervelz-Origy';
    font-size: 30px;
}
.set1 td:nth-child(11) {
    font-family:'JungleSlang';
    font-size: 30px;
}
.set1 td:nth-child(12) {
    font-family:'Kakoulookiam';
    font-size: 30px;
}
.set1 td:nth-child(13) {
    font-family:'KHScala';
    font-size: 30px;
}
.set1 td:nth-child(14) {
    font-family:'Kilgish';
    font-size: 40px;
}
.set2 td:nth-child(2) {
    font-family:'Leafs';
    font-size: 40px;
}
.set2 td:nth-child(3) {
    font-family:'LuciusCipher';
    font-size: 35px;
}
.set2 td:nth-child(4) {
    font-family:'meeksa';
    font-size: 25px;
}
.set2 td:nth-child(5) {
    font-family:'MeowsPhone';
    font-size: 40px;
}
.set2 td:nth-child(6) {
    font-family:'Modern_Cybertronic';
    font-size: 30px;
}
.set2 td:nth-child(7) {
    font-family:'Morse01';
    font-size: 30px;
}
.set2 td:nth-child(8) {
    font-family:'botw-hylian';
    font-size: 20px;
}
.set2 td:nth-child(9) {
    font-family:'squarethings';
    font-size: 30px;
}
.set2 td:nth-child(10) {
    font-family:'stars3d';
    font-size: 30px;
}
.set2 td:nth-child(11) {
    font-family:'StyleBats';
    font-size: 30px;
}
.set2 td:nth-child(12) {
    font-family:'wavefont';
    font-size: 45px;
}
.set2 td:nth-child(13) {
    font-family:'Yelekish';
    font-size: 35px;
}