body.ruleseed-active .rule {
    font-weight: bold;
    text-decoration: underline;
}

svg#flowchart {
    width: 85%;
    margin: 0 auto;
    display: block;
}
.dark svg text { fill: #DDD; }
.dark svg path { stroke: #DDD; }

ul {
    margin-bottom: .5em;
    padding-left: 1.25em;
    line-height: 1.3;
}

@media print {
    svg#flowchart {
        width: 82%;
    }
}