ul {
    padding-left: 1.5em;
}
table.order {
    display: inline-block;
    margin-right: .7cm;
    border: none;
}
    table.order td {
        padding: .3em 0 .2em;
        text-align: center;
        width: 2.1em;
    }
table#rules {
    width: 100%;
}
caption {
    font-weight: bold;
    text-decoration: underline;
}
#orders {
    text-align: center;
}
.instr {
    float: left;
    width: 1.125cm;
    height: 1.125cm;
    margin-right: .2cm;
    background-image: url('../../img/Discolored Squares/Motion.svg');
    background-size: 4.5cm 4.5cm;
    background-repeat: no-repeat;
}
    .instr-0 { background-position: 0cm 0cm; }
    .instr-1 { background-position: -1.125cm 0cm; }
    .instr-2 { background-position: -2.25cm 0cm; }
    .instr-3 { background-position: -3.375cm 0cm; }
    .instr-4 { background-position: 0cm -1.125cm; }
    .instr-5 { background-position: -1.125cm -1.125cm; }
    .instr-6 { background-position: -2.25cm -1.125cm; }
    .instr-7 { background-position: -3.375cm -1.125cm; }
    .instr-8 { background-position: 0cm -2.25cm; }
    .instr-9 { background-position: -1.125cm -2.25cm; }
    .instr-10 { background-position: -2.25cm -2.25cm; }
    .instr-11 { background-position: -3.375cm -2.25cm; }
    .instr-12 { background-position: 0cm -3.375cm; }
    .instr-13 { background-position: -1.125cm -3.375cm; }
    .instr-14 { background-position: -2.25cm -3.375cm; }
    .instr-15 { background-position: -3.375cm -3.375cm; }
.dark .instr { filter: invert(87%); }