.whitetext {
    color: hsl(45, 0%, 100%);
}

@font-face {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    src: local('Chewy Regular'), local('Chewy-Regular'), url('../../font/Chewy.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Gochi Hand';
    font-style: normal;
    font-weight: 400;
    src: local('Gochi Hand'), local('GochiHand-Regular'), url('../../font/GochiHand.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url('../../font/Lobster.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rock Salt';
    font-style: normal;
    font-weight: 400;
    src: local('Rock Salt Regular'), local('RockSalt-Regular'), url('../../font/RockSalt.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: local('AnonymousPro-Bold'), local('AnonymousPro-Bold'), url('../../font/AnonymousPro-Bold.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ostrich Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Ostrich Sans Heavy'), local('OstrichSans-Heavy_90'), url('../../font/OstrichSans-Heavy_90.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Day Poster Black';
    font-style: normal;
    font-weight: 400;
    src: local('Day Poster Black'), local('Day-Poster-Black'), url('../../font/DayPosterBlack.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Clarendon';
    font-style: normal;
    font-weight: 400;
    src: local('Clarendon'), local('Clarendon'), url('../../font/Clarendon-Regular.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.dark table, table { border: none; }
table table {
    width: 100%;
    height: 100%;
    margin: auto;
}
.dark .symbols th img { filter: invert(90%); }