td { text-align: center; }
table.double-oh { margin: 0 auto 1em; border: 2mm solid; }
table.double-oh col { width: 25%; }
table.double-oh td {
    height: 35px;
    width: 35px;
    white-space: nowrap;
    border-right: .5mm dotted;
    border-bottom: .5mm dotted;
}
table.double-oh tr:nth-child(3n) td { border-bottom: 1.5mm solid; }
table.double-oh td:nth-child(3n) { border-right: 1.5mm solid; }
.note { font-weight: bold; }
.goal { font-weight: bold; }
.page-content.double-oh-content { font-size: 90%; }
.dark table, .dark td {  border-color: #CCC; }
.strike { text-decoration: line-through; }