table.fizz-buzz {
    border: none;
}
table.fizz-buzz th {
    text-align: right;
}
table.fizz-buzz td, table.fizz-buzz th.corner {
    text-align: center;
}
table.fizz-buzz tr.rotated > th {
    position: relative;
    text-align: left;
    height: 4em;
    min-width: 30px;
}
table.fizz-buzz tr.rotated > th > span.text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-50deg);
    transform-origin: middle center;
    text-align: center;
    line-height: 1.25;
}

@media screen and (max-width: 900px) {
    table.fizz-buzz {
        font-size: 80%;
    }
}