html { font-size: 12pt; }

.xes1 { position: relative; font-weight: normal; }
.xes2 { position: absolute; left: -.05em; font-size: 17pt; }
.magic { position: absolute; left: 50%; bottom: 80%; font-size: 12pt; transform: translateX(-50%); }

table.friendship { border-collapse: collapse; border: none; margin: 0 auto; }
table.friendship th, table.friendship td { border: none; padding: .6mm; text-align: center; vertical-align: middle; }
img.fs { width: 8mm; height: 8mm; }

div.elements { column-count: 4; -moz-column-count: 4; }
div.elements > div { white-space: nowrap; }
div.elements > div > span { transform-origin: left center; display: inline-block; }

ul { margin: 0; padding: 0; }
.ruleseed-active .rule-text {
    font-size: 11pt;
}

.ruleseed-active .rule {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    table.friendship { font-size: 9pt; }
    img.fs { width: 4.4mm; height: 4.4mm; }
    div.elements { column-count: 2; -moz-column-count: 2; }
}