math {
    white-space: nowrap;
}

img:not(.diagram) {
    width: 190px;
}
.dark img:not(.diagram) {
    filter: invert(84.6%);
}

.page-footer::before { content: "Page "; }
.page-footer::after { content: " of 3"; }
