.interactive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table.interactive, table.interactive tr, table.interactive th, table.interactive td:nth-child(1) {
    border: none;
    background: none;
}

table.interactive td {
    border: rgb(51, 77, 108) 8px solid;
    padding: 0;
    width: 35px;
    height: 35px;
}

table.interactive td>.box {
    background: black;
    transition: background 0.2s;
    position: relative;
    width: 35px;
    height: 35px;
}

table.interactive td.white>.box {
    background: white;
}

table.interactive td>.box::after {
    position: absolute;
    top: 17.5px;
    left: 17.5px;
    content: '';
    width: 0px;
    height: 0px;
    background: white;
    transition: background 0.2s, top 0.2s, left 0.2s, width 0.2s, height 0.2s;
}

table.interactive td.dot>.box::after {
    top: 12.5px;
    left: 12.5px;
    width: 10px;
    height: 10px;
}

table.interactive td.white.dot>.box::after {
    background: black;
}

button {
    margin: 5px;
    border: black 2px solid;
    border-radius: 3px;
    transition: color 1s, background-color 1s;
    display: block;
}

button:hover {
    color: white;
    background-color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
}