.aatable {
    text-align: center;
}

.dark table, table {
    border: none;
    margin: 1em auto;
}

.inline {
    display: flex;
}
.dark svg text { fill: #DDD; }
.dark svg path { stroke: #DDD; }

#Camada_1 {
    width: 20cm;
}
#Camada_2 {
    width: 10cm;
}
.hstack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hstack table {
    width: 49%;
    margin: .7em 0;
}