.page-bg-04 { background-image: url("../../img/hexOS/page-bg-noise-04.png"); }
.page-bg-05 { background-image: url("../../img/hexOS/page-bg-noise-05.png"); }
.page-bg-06 { background-image: url("../../img/hexOS/page-bg-noise-06.png"); }
.page-bg-06 h3 { margin: 0.8em 0 0; }
.page-bg-07 { background-image: url("../../img/hexOS/page-bg-noise-07.png"); }
.page-bg-07 .page-content { 
    padding-top: 3em;
    padding-bottom: 1.5em;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right { text-align: right; }
table.white { margin: -0.6em; }
table.white th { font-size: 13px; }
table.white td { padding: 0.1em 0.5em; }

table.true-color { margin: 0.5em auto; }
table.true-color tr:nth-child(-n + 3) td { padding: 0.8em 0.5em; }
table.true-color tr:nth-child(4) td { font-size: 13px; }

table.operators { 
    float: left;
    margin: 0.1em;
}
table.operators tr:nth-child(2) th:nth-child(1) { font-size: 14px; }
table.operands tr:nth-child(2) th, table.operands tr:nth-last-child(1) th { font-size: 8px; }

table.border th { font-size: 9.5px; }
table.border td, .dark table.border td {
    border: 1px solid #222;
    padding: 0em 0.38em;
}
.dark table.border td { border: 1px solid #BBB; }

table.symbols { margin-bottom: 20px; }
table.symbols tr:nth-child(2) th { font-size: 14px; }

table.phrases { font-size: 15px; }

p.disclaimer {
    font-size: 11px;
    font-style: italic;
}
p.note { font-style: italic; }

td.black, .dark table.true-color td.black { background-color: #000; }
td.mag { background-color: #F0FC; }
.dark td.black, .dark td.white { background-color: #DDDC; }
.dark td.white { background-color: #DDDC; }
th.red, td.lred, th.yellow, td.lyellow, th.green, td.lgreen,
th.pink, td.lpink, th.cyan, td.lcyan {
    color: #000;
}
th.red { background-color: #F66C; }
td.lred { background-color: #F99C; }
th.yellow { background-color: #FF6C; }
td.lyellow { background-color: #FF9C; }
th.green { background-color: #6F6C; }
td.lgreen { background-color: #9F9C; }
th.pink { background-color: #F6FC; }
td.lpink { background-color: #F9FC; }
th.cyan { background-color: #6FFC; }
td.lcyan { background-color: #9FFC; }
span.black::before, .dark span.white::before { content: "black"; }
span.white::before, .dark span.black::before { content: "white"; }
li { margin: 20px 0; }