.dark table, table {
    margin: 0 auto;
    text-align: center;
    border: none;
}
.targetP {
    height: 190px;
}
.targetL {
    height: 132px;
}
td { padding: .1em .6em; }
h3 { margin: 0; }
.targetL, .targetP { margin: 0 .5em .5em; }