.family {
    clear: both;
    margin: 1em 0;
    overflow: auto;
}

.family > .explanation {
    font-weight: bold;
}

.family > .link {
    font-size: 24pt;
}

.family > .component {
    float: right;
    margin-left: .5cm;
}
.family > .component > img {
    width: 2.5cm;
}