table.colors {
    margin: auto;
    table-layout: fixed;
    margin-bottom: 20px;
}
table.colors th {
    width:20px;
    height:20px;
}
.magenta { background-color:#ff00ff; color: black; }
.red { background-color:#ff0000; color: white; }
.green { background-color:#00ff00; color: black; }
.white { background-color:#ffffff; color: black; }
.blue { background-color:#0000ff; color: white; }
.yellow { background-color:#ffff00; color: black; }
.dark th img { filter: invert(85%); }

.mazeholder {
    position: relative;
    height: 250px;
    width: 250px;
}
img.maze, svg.maze {
    position: absolute;
    left: 0;
    top: 0;
    height: 250px;
    width: 250px;
}
.hstack {
    align-items: start;
}