p.strong {
    font-weight: bold;
}
table.laundry {
    width: 100%;
}
table.laundry td {
    white-space: nowrap;
}
table.reference {
    table-layout: fixed;
    width: 100%;
    border: none;
}
table.reference col {
    width: 12.5%;
}
table.reference td {
    text-align: center;
    vertical-align: top;
    padding: 0;
    border: none;
}
table.reference td div.label {
    font-size: 8pt;
}
h4 {
    margin: .5em 0 0;
    text-align: center;
}
h4.reference {
    margin-bottom: 0;
}
.dark table, table { border: none; }
.dark td img { filter: invert(87%); }
.page {
    background-repeat: repeat-y;
    background-position: top;
}