table.light-cycle {
    width: 100%;
    border: none;
}
table.light-cycle tr:nth-child(6n+2) td, table.light-cycle tr:nth-child(6n+2) th {
    border-top: 1mm solid;
}
table.light-cycle tr td:nth-child(3n+2), table.light-cycle tr th:nth-child(3n+2) {
    border-left: 1mm solid;
}
table.light-cycle td, table.light-cycle th {
    padding: .1em .2em;
    font-size: 11pt;
    text-align: center;
    white-space: nowrap;
}
table.light-cycle th:nth-child(1) { width: 2em; }