table.gate-types {
    margin: 0 auto;
    border: 0;
    border-collapse: separate;
}

table.gate-types td {
    border: 0;
    text-align: center;
}

table.gate-types td.gate-type {
    width: 4rem;
    border: 1px solid #222;
    border-radius: 50%;
    line-height: 1rem;
    padding: 1rem .5rem .5rem;
}
.dark table.gate-types td.gate-type {
    border-color: #DDD;
}

table.gate-types td.gate-type span {
    font-size: 1.1rem;
}

table.gate-types td.arrow {
    font-size: 2rem;
    padding: 0 .2rem; line-height: 1em;
}

table.truth {
    margin: 0 auto;
}
