.dark table, table {
    border: none;
    text-align: center;
}
.right {
    float: right;
    margin-bottom: .5cm;
    margin-left: .5cm;
}
.dark .diagram {
    filter: invert(90%);
    background-color: transparent;
}