img.chip {
    height: 9em;
    margin: 0em 2em 0 2em;
}
.dark img.chip {
    filter: invert(86%);
}
.dark table, table {
    border: none;
}
.parenthetical {
    position: relative;
    height: 0;
    bottom: 6mm;
    left: 55mm;
}
.noafterpadding {
    margin-bottom: 0;
}