.dark table, table {
    border: none;
    font-size: 7pt;
    text-align: center;
    transform: rotate(2deg);
    margin-left: 2mm;
}
.dark img:not(.diagram) { filter: invert(87%); }
p { margin-bottom: 0.7cm; }
table img { height: 20.3px; }
td { padding: .3em 1.2em .1em; }
.hstack {
    display: flex;
    justify-content: space-between;
}