table.moves {
    width: 100%;
    margin: 0em auto;
    line-height: 1.2;
}
table.moves td.move-name { white-space: nowrap; }
table.multipliers {  margin: 3em auto; }
table.multipliers td.special { font-weight: bold; }
table.smallfont td { font-size: 11pt; }
.dark table, table { border: none; }
td, th { padding: .3em .6em 0; }
td img { height: 80px; }
#move-set {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}