.hardmodule-wrap {
    width: 0;
    height: 0;
}

.hardmodule {
    width: 2em;
    height: 66em;
    opacity: 0.3;
    background-color: #FF0000;
    -webkit-print-color-adjust: exact;
}

.morseSignalImg, #morseSignalImg { width: 25em; }
.dark :is(.morseSignalImg, #morseSignalImg) { filter: invert(85%); }
.borderless td { text-align: center; }