.dark table, table { border: none; }
.mouse-maze-outer {
    border: none;
    width: 100%;
}
.mouse-maze-outer > tbody > tr > td {
    border: none;
    padding: 0 1mm 1mm 0;
}
.mouse-maze {
    float: left;
    border-width: .5mm;
}
.mouse-maze td, .mouse-maze th {
    padding: 1mm;
    text-align: center;
}
.mouse-maze svg {
    width: 47mm;
    display: block;
}
.dark .mouse-maze svg path, .dark .mouse-maze svg text { fill: #DDD; }
.dark .mouse-maze svg circle { filter: invert(80%); }
.mouse-maze svg text.x-label, .mouse-maze svg text.y-label {
    font-size: 9pt;
    text-anchor: middle;
}
.mouse-maze svg text.cell {
    font-size: 14pt;
    text-anchor: middle;
    font-weight: bold;
}