.dark img:not(.diagram) { filter: invert(86.5%); }
.dark .semaphore img { filter: saturate(400%) invert(65%) hue-rotate(180deg); }
.page {
	background-repeat: repeat-y;
	background-position: top;
}
.lombax td span {
	font-family: "Lombax";
}
.zoni td span {
	font-family: "Zoni";
}
.korean td span {
	font-family: "SB Aggro Bold";
	font-weight: bold;
}
:is(.lombax, .zoni, .semaphore, .korean) td { padding: 15px 3px 0; }
.semaphore td { padding: 0 1px; }
.zoni, .lombax, .latin, .korean {
	text-align: center;
	font-size: 26px;
	line-height: 1;
}
.semaphore img { height: 33px; }

.center-container {
	display: flex;
	flex-direction: row;
}
.selectables div {
	display: table-row;
}
.selectables {
	display: inline-table;
	margin-left: auto;
	margin-right: auto;
	column-count: 9;
	border-spacing: 5pt;
}

.selectables div div {
	position: relative;
	display: table-cell;
	width: 45px;
	height: 45px;
	padding: 0%;
}

.left { border-left: 3pt solid; }
.up { border-top: 3pt solid; }
.down { border-bottom: 3pt solid; }
.right { border-right: 3pt solid; }
.selectables div div:not(.left) { border-left: 2pt dashed; }
.selectables div div:not(.up) { border-top: 2pt dashed; }
.selectables div div:not(.down) { border-bottom: 2pt dashed; }
.selectables div div:not(.right) { border-right: 2pt dashed; }
.fullwidth { width: 100%; }