.skull-diagram {
    float: right;
}
.full-solution {
    margin: 0 auto 1em;
}

.partial-solutions {
    width: 100%;
}
.partial-solutions table {
    width: 100%;
}
.partial-solutions td {
    text-align: center;
}
.dark table, table {
    border: none;
}
.dark .page-bg-02 img { filter: invert(84.8%); }