.dark table, table {
    border: none;
    margin: .4em auto;
}
.dark td img { filter: invert(87%); }
.small-text { font-size: 10.5pt; }
.not-cs-app { margin: 0em auto; }
.page-bg-03 td { padding: .3em .6em 0; }
.encryptTable {
    width: 100%;
    font-size: 80%;
}
p { margin: .5em 0; }