table.hl-cell {
    position: absolute;
    border-color: rgba(0,0,0,0);
    border: 0 solid transparent;
    width: 30.6mm;
    height: 18.2mm;
}
table.hl-cell tr>td {
    border-color: rgba(0,0,0,0);
    border: 0 solid transparent;
}
.dark table, table { border: none; }

.holder {
    position: relative;
    width: 105%;
}
svg.flow, svg.chart, img.flow, img.chart {
    position: absolute;
}
@media not print {
    svg.flow, img.flow { width: 105%; }
    svg.chart, img.chart { width: 105.5%; }
}
svg rect { fill: #00000000; }
.dark .page.page-bg-02, .dark .page.page-bg-03 { background: #383838; }
@media screen and (max-width: 899.99px) {
    .flow.holder { height: 1177px; }
}
@media screen and (max-width: 700px) {
    .flow.holder { height: 877px; }
}

@media screen and (min-width: 900px) {
    svg.flow, img.flow {
            left: 3px;
    }
    svg.chart, img.chart {
            left: -73px;
    }
}