em {
    font-style: inherit;
}
.hardmodule-wrap {
    width: 0;
    height: 0;
}
.hardmodule {
    width: 2em;
    height: 66em;
    opacity: 0.3;
    background-color: #FF0000;
    -webkit-print-color-adjust: exact;
}
.appendix-ref {
    font-style: italic;
}
p, h3, ul.rules {
    margin: 0;
}
p.note {
    font-style: italic;
}
h3 {
    font-size: inherit;
}
.levels, ul {
    margin: .68em 0;
}
h3.chart {
    margin-top: 1em;
    font-size: 115%;
}
img.chart {
    width: 100%;
}
ul.rules {
    padding-left: 0;
    list-style-type: none;
}
.dark svg path:not(.highlightable), .dark svg circle {
    stroke: #DDD;
}
.dark svg text {
    fill: #DDD;
}

table {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}
table tr th:nth-child(1) { width: 280px; }
table.yellow tr:nth-child(2n) { background-color: rgb(255,242,204); }
table.blue tr:nth-child(2n) { background-color: rgb(221,235,247); }
table.orange tr:nth-child(2n) { background-color: rgb(252,228,214); }
table.green tr:nth-child(2n) { background-color: rgb(226,239,218); }
.dark table.yellow tr:nth-child(2n) { background-color: rgb(95,82,44); }
.dark table.blue tr:nth-child(2n) { background-color: rgb(61,75,87); }
.dark table.orange tr:nth-child(2n) { background-color: rgb(92,68,54); }
.dark table.green tr:nth-child(2n) { background-color: rgb(66,79,58); }
table.yellow { border-color: rgb(255,194,9); }
table.blue { border-color: rgb(91,155,213); }
table.orange { border-color: rgb(240,153,94); }
table.green { border-color: rgb(126,181,89) }
th, td {
    border-color: inherit;
    padding: .3em .6em 0;
}