.perplexing-wires {
    width: 100%;
    margin: 1em 0;
}

.footnote {
    margin-top: 3em;
    font-size: 10pt;
}
.footnote::before {
    content: '';
    display: block;
    width: 20em;
    border-top: 1px solid #888;
    margin-bottom: 1em;
}

svg :not(.highlightable) {
    user-select: none;
    pointer-events: none;
}
svg .highlightable {
    fill: transparent;
}
.dark svg text {
    fill: #DDD;
}