h3 {
    font-weight: normal;
    font-size: 1.25em;
}
h4 {
    text-decoration: none;
    margin-top: 3em;
}
em {
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
p { margin: .1em 0; }
td:not(.color) { text-align: center; }
col.number { width: 15mm; text-align: start; }
colgroup.sequence, col.color { width: 29mm; }