@font-face {
    font-family: 'OpusStd';
    src: url('../../font/OpusStd.otf');
}
@font-face {
    font-family: 'OpusChordsSansStd';
    src: url('../../font/OpusChordsSansStd.otf');
}
.music-symbol {
    font-family: 'OpusStd';
    font-size: 1.6em;
    position: relative;
    top: -0.2em;
}
.music-chord {
    font-family: 'OpusChordsSansStd';
    word-spacing: 0.3em;
}
.no-requirement { font-style: italic; }

.w15 { width: 15%; }
.w40 { width: 40%; }
.w45 { width: 45%; }