.dark table, table {
    margin: 1em auto;
    border: none;
}

table.key-table :is(th, td) { background-color: #D1D3D4; }
.dark table.key-table :is(th, td) { background-color: #555; }

table.key-table img { width: 20%; }

.page-footer::before { content: "Page "; }
.page-footer::after { content: " of 3"; }

.page-bg-02 .page-content { line-height: 1.37; }

svg.chart {
    width: 105%;
    margin-left: -2.5%;
}

svg.chart .symbol {
    opacity: .5;
}
.dark svg.chart .symbol {
    opacity: .9;
}

svg.chart text {
    text-anchor: middle;
    dominant-baseline: mathematical;
    fill: #ddd;
    font-size: 10px;
}

svg.chart .cell {
    fill: none;
    stroke: #222;
    stroke-width: .7;
}

.dark svg.chart .pattern {
    opacity: .9;
}