 .rule-svg > svg {
    width: 2.7cm;
    display: inline-block;
}
td { text-align: center; }
.rule-device {
    font-family: 'Special Elite';
    font-size: 10pt;
}
tr:nth-child(2n-1) td {
    padding: 0 0 0;
    line-height: 1;
}
tr:nth-child(2n) td {
    padding: .2em .6em 0;
    line-height: 1.2;
}
.dark svg path { stroke: #FFF; fill: none; }