.appendix-ports table {
    margin-top: 1em;
}

.appendix-ports img {
    height: 5em;
}

.appendix-ports table td {
    text-align: center;
}

.appendix-ports table th {
    font-size: 1.2em;
    font-weight: bold;
}

