.word-list {
    text-align: center;
    margin: 0em auto;
    width: 100%;
}

    .word-list td {
        font-size: 11pt;
    }

table.semaphore-table {
    width: 100%;
}

    table.semaphore-table td {
        width: 20%;
        text-align: center;
        font-weight: bold;
    }

img.semaphore-img {
    width: 5em;
}

img.semaphore-img-small {
    width: 2em;
}