.dark table, table {
    margin: 0em auto;
    margin-bottom: 0.5cm;
}

td.icon-container {
    padding: 0;
    text-align: center;
}

img.icon-text { width: 19px; }
img.icon { width: 48px; }

img.hflipped { transform: scaleX(-1); }
img.vflipped { scale: scaleY(-1); }
img.rotated-counter { rotate: -90deg; }
img.rotated-clock { rotate: 90deg; }

a.hidden-link {
    color: #000;
    text-decoration: underline;
}
.dark a.hidden-link { color: #ddd; }