.dark .rhythms-ref, .rhythms-ref {
    border: none;
}
.dark .rhythms-ref td, .rhythms-ref td {
    border: none;
    padding: .5em;
}
.rhythms-ref td.np {
    padding: .5em 0;
}
ol { margin: 0; }
td,th { padding: .2em .6em 0; }
td img { height: 50px; width: 140px; }
td.np img { height: 60px; width: 60px; }
.dark td img { filter: invert(85%); }
table.repeaters-table td {
    font-family: 'Special Elite', 'Yu Gothic', 'Courier New', monospace;
}