table {
    margin: 1em auto;
    border: none;
}
table ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
table li::before { content: " "; }

.dark svg text { fill:#ddd; }
.dark svg path { stroke: #ddd; }
svg text {
    user-select: none;
    pointer-events: none;
}

strong strong { font-style: italic; }

em {
    font-style: italic;
    text-decoration: none;
}
em em {
    text-decoration: underline;
    font-style: italic;
}

b.term, span.italic { font-style: italic; }
span.lead, span.underlined{ text-decoration: underline; }

p.note {
    font-size: 12px;
    font-style: italic;
}
.page-one {
    font-size: 15px;
}
h3 {
    margin-top: 0;
}

svg.hex-grid {
    width: 40%;
    float: right;
}
.centerhexpath { fill: #000; }
.centerhextext { fill: #ddd; }
.dark .centerhexpath { fill: #ddd; }
.dark .centerhextext { fill: #000; }

table.stage-table { clear: right; }
table.stage-table th {
    font-weight: normal;
    background-color: #000;
    color: #ddd;
    font-size: 14px;
}
table.stage-table tr:nth-of-type(3) { font-size: 14px; }
b.stage-number { font-size: 1rem; }

table.winning-number { text-align: center; }
table.winning-number-3 { font-size: 15.5px; }

table.digit-table th { font-weight: normal; }

.page-footer::before { content: 'Page '; }
.page-footer::after { content: ' of 5'; }