.squeeze {
    position: absolute;
    white-space: nowrap;
    transform: scaleX(.937);
    transform-origin: left;
    text-decoration: inherit;
}
table#rock-paper-scissors-lizard-spock {
    width: 100%;
}
table#rock-paper-scissors-lizard-spock td {
    white-space: nowrap;
    vertical-align: top;
}
.skip {
    font-size: 10pt;
    font-weight: normal;
}
.page-header-section-title.ruleseed-seeded {
    transform: scaleX(.75);
    transform-origin: right;
    right: 0;
    position: absolute;
    width: auto;
}