.dark table,
table {
    border: none;
    margin: 1em auto;
}

th {
    line-height: 21px;
}

th img {
    width: 55px;
    height: 55px;
}

.rps-great-chart {
    display: block;
    width: 662px;
    max-width: 100%;
    margin: 0 auto;
}

.rps-great-chart .arrow {
    fill: none;
    stroke-width: 1.5;
}

.rps-great-chart .arrowblack {
    stroke: #111;
}

.rps-great-chart .arrowblack-curved {
    fill:none;
}

.rps-great-chart .arrowblue {
    stroke: #06c;
}

.rps-great-chart .arrowred {
    stroke: #c00;
}

.rps-great-chart .black {
    fill: #111;
}

.rps-great-chart .blue {
    fill: #06c;
}

.rps-great-chart .bold {
    font-weight: 700;
}

.rps-great-chart .defeated-line {
    fill: none;
    stroke: #ffff00;
    stroke-width: 2;
    stroke-linecap: round;
}

.rps-great-chart .divider {
    stroke: #bbb;
    stroke-width: 1;
    stroke-dasharray: 3 3;
}

.rps-great-chart .dotarrow {
    stroke-width: 2;
    stroke-dasharray: 1.5 1;
}

.rps-great-chart .green {
    fill: #46a93f;
}

.rps-great-chart .howto-line {
    stroke: #6cbc49;
    stroke-width: 2;
    stroke-dasharray: 4 5;
}

.rps-great-chart .inner {
    font-size: 9px;
    font-weight: 700;
}

.rps-great-chart .large {
    font-size: 112px;
}

.rps-great-chart .larger {
    font-size: 46px;
}

.rps-great-chart .lavender {
    fill: #7f86ff;
}

.rps-great-chart .medium {
    font-size: 18px;
}

.rps-great-chart .outer {
    font-size: 12px;
    font-weight: 700;
}

.rps-great-chart .red {
    fill: #c00;
}

.rps-great-chart .rps-chart-bg {
    opacity: 1;
}

.rps-great-chart .small {
    font-size: 10px;
}

.rps-great-chart .smaller {
    font-size: 12px;
}

.rps-great-chart .text {
    font-family: 'Noto Serif JP', serif;
}

.rps-great-chart .title {
    fill: #d7d2ff;
    stroke: #7f86ff;
    stroke-width: 2.5px;
    paint-order: stroke fill;
    letter-spacing: 0.5px;
}
