table.rubiks-cube { border: 2px solid; }
    table.rubiks-cube th, table.rubiks-cube td { text-align: center; }
    table.rubiks-cube th { border-bottom: 2px solid; }

.float {
    margin-left: 1em;
    float: right;
    clear: right;
    width: 50mm;
}
p.caption { margin-top: 1em; }

.dark .bar, .bar { border-left: 3px solid; }

.footnote hr {
    width: 30%;
    border: none;
    border-top: 1px solid;
}
.footnote p { font-size: 85%; }

ul {
    margin-right: 5.5cm;
    padding-left: 1em;
    font-size: 15px;
}