.maze {
    width:  7in;
    height: 7in;
    margin-top: 1in;
}
.dark .maze image {
    filter: invert(87%);
}
svg path.highlightable { fill: transparent; }
.maze-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.diagram {
    width: 12em;
    background-color: transparent;
}
@media screen and (max-width: 899px) {
    .diagram { width: 8em; }
}