.hstack { gap: 7px; }
svg.grid {
    width: 160px;
    background-color: black;
}
.shape {
    stroke: #000;
    stroke-width: 9;
}
.none {
    fill: none;
    stroke-width: 5;
}
.white { fill: #FFF; }
.gry { fill: #888; }
.red { fill: #F00; }
.yel { fill: #FF0; }
.blu { fill: #00F; }