.dark table, table {
    margin:auto;
    border: none;
}
table.vMargin {
    margin: 10% auto;
}
table.centerTable td {
    text-align: center;
}
table.wideTable {
    width: 100%
}
table.smallTable p {
    margin: 0.67em;
}
table.small td, th {
    font-size: small
}
.footnote {
    font-style: italic
}