table.simon-screams, table.simon-screams table {
    border: none;
}
table.simon-screams td.corner, table.simon-screams th.corner {
    border: none;
}
table.simon-screams td {
    text-align: center;
}
table.simon-screams th {
    text-align: right;
}
table.simon-screams th.little {
    text-align: left;
}
table.simon-screams tr.top > th {
    text-align: center;
    vertical-align: bottom;
}
table.simon-screams tr.top > th > p {
    margin: .25em;
}
table.simon-screams tr.rotated > th {
    position: relative;
    text-align: left;
    height: 4em;
}
table.simon-screams tr.rotated > th > span.text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-50deg);
    transform-origin: center center;
    text-align: center;
    line-height: 1.25;
}
table.simon-screams-small td, table.simon-screams-small th {
    white-space: nowrap;
}
.ruleseed-active .column-rule {
    text-decoration: underline;
}