@media screen and (min-width: 900px) {
    .snow-maze {
        margin-left: -5%;
        width: 110%;
    }
}
@font-face {
    font-family: 'FauxSnow';
    src: url('../../font/fauxsnow.ttf');
}
.snow-maze {
    font-family: 'FauxSnow';
    table-layout: fixed;
}
.snow-maze svg { stroke: black; }
.dark .snow-maze svg { stroke: #DDD; }
.snow-maze svg :not(.highlightable) {
    user-select: none;
    pointer-events: none;
}
.snow-maze svg .cell { fill: transparent; }
.snow-maze svg .wall {
    fill: none;
    stroke-width: 10;
    stroke-linecap: square;
}
.snow-maze text {
    stroke: none;
    fill: black;
    font-size: 123px;
    dominant-baseline: middle;
    text-anchor: middle;
}
.dark svg text { fill: #DDD; }