.souvenir {
	clear: both;
	font-family: 'Agency FB';
	border: none;
	column-count: 4;
	column-gap: .25em;
}

	.souvenir .module {
		break-inside: avoid;
	}

		.souvenir .module .name {
			font-family: 'Trebuchet MS';
			font-weight: bold;
			line-height: 1.1;
		}

			.souvenir .module .name .the {
				font-weight: normal;
				font-size: 10pt;
			}

	.souvenir ul {
		margin: 0 0 .2cm;
		padding-left: 0;
	}

	.souvenir li {
		list-style-type: none;
		line-height: 1.2;
		margin: .05cm 0;
	}

.continued {
	text-align: right;
	font-style: italic;
	font-size: 10pt;
}

select {
	font-family: 'Trebuchet MS';
}

.warning {
	float: right;
	width: 0px;
}

.dark .warning {
	filter: invert(90%);
}

@media screen and (max-width: 900px) {
	.souvenir {
		column-count: 1;
	}
}

.page-footer::before {
	content: 'Page ';
}

.page-footer::after {
	content: ' of 12';
}
