b:is(.button-label, .cipher-name, .decrypted-letter, .decrypted-word, .starting-coordinate) {
    text-decoration: underline;
}

span.cipher-info { font-size: 12px; }

div[class*="-examples"]:has(table, div) { 
    display: grid;
    gap: 10px;
    justify-items: center;
}
div[class*="-examples"] table {
    table-layout: fixed;
    width: 240px;
    height: 240px;
    border: none;
    font-size: 11pt;
    border-collapse: collapse;
}
div[class*="-examples"] td {
    border: none;
    padding: 0;
    text-align: center;
    width: 20px;
    height: 20px;
    position: relative;
    line-height: 10px;
    word-wrap: break-word;
    white-space: normal;
}

.regular-examples, .orange-examples {
    grid-template-columns: 1fr 1fr;
}
.yellow-examples {
    grid-template-areas: "a b c"
                         "d e e";
}
#tl { grid-area: a; }
#tm { grid-area: b; }
#tr { grid-area: c; }
#bl { grid-area: d; }
#bm-br { grid-area: e; }
.cyan-examples, .blue-examples, .purple-examples, .black-examples {
    grid-template-columns: 1fr 1fr 1fr;
}
.pink-examples {
    grid-template-columns: 1fr 1fr;
}
.white-examples {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cipher-table {
    width: 100%;
    border: none;
    text-align: center;
    border-collapse: collapse;
    margin: 0.5em 0;
    font-size: 0.8rem;
}

.cipher-table td {
    padding-left: 1em;
    padding-right: 1em;
    width: calc(100% / 8);
}

.piece-table {
    width: 100%;
    border: none;
    text-align: center;
    border-collapse: collapse;
    margin: 1em 0;
    height: 90% !important;
    font-size: 0.95rem;
}

.piece-table td {
    border: 1px solid !important;
    padding-left: 1em;
    padding-right: 1em;
    height: 25% !important;
    width: calc(100% / 8);
}

.vert-highlight::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 40%;
    background: rgba(255, 200, 0, 0.4);
    z-index: 0;
}

.horiz-highlight::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 40%;
    background: rgba(0, 200, 255, 0.4);
    z-index: 0;
}

.both-highlight::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 40%;
    background: rgba(255, 200, 0, 0.4);
    z-index: 0;
}

.both-highlight::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 40%;
    background: rgba(0, 200, 255, 0.4);
    z-index: 0;
}

.card-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 0 0;
}

.card-table th, .card-table td {
    border: none;
    padding: 0 0;
    text-align: center;
}

.card {
    display: inline-block;
    width: 30px;
    height: 40px;
    margin: 2px 0;
    border-radius: 5px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
}

.red {
    background: #802020;
    color: white;
}

.green {
    background: #208020;
    color: white;
}

.blue {
    background: #202080;
    color: white;
}

.black {
    background: #000000;
    color: white;
}

.maze-grid {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    grid-template-rows: repeat(6, 20px);
    gap: 1px;
    justify-content: center;
    margin: auto;
}

    .maze-cell {
        width: 20px;
        height: 20px;
        font-size: 0.65em;
        border: 2px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
    }

        .maze-cell.A {
            background: #ffdede;
            border: 2px solid #ffdede;
        }

        .dark .maze-cell.A {
            background: #802020;
            border: 2px solid #802020;
        }

        .maze-cell.B {
            background: #fff0cc;
            border: 2px solid #fff0cc;
        }

        .dark .maze-cell.B {
            background: #208020;
            border: 2px solid #208020;
        }

        .maze-cell.C {
            background: #e6ffe6;
            border: 2px solid #e6ffe6;
        }

        .dark .maze-cell.C {
            background: #202080;
            border: 2px solid #202080;
        }

        .maze-cell.D {
            background: #e6f0ff;
            border: 2px solid #e6f0ff;
        }

        .dark .maze-cell.D {
            background: #808020;
            border: 2px solid #808020;
        }

        .maze-cell.E {
            background: #f3e6ff;
            border: 2px solid #f3e6ff;
        }

        .dark .maze-cell.E {
            background: #802080;
            border: 2px solid #802080;
        }

        .maze-cell.F {
            background: #fff1f0;
            border: 2px solid #fff1f0;
        }

        .dark .maze-cell.F {
            background: #208080;
            border: 2px solid #208080;
        }

        .maze-cell.G {
            background: #e5e5e5;
            border: 2px solid #e5e5e5;
        }

        .dark .maze-cell.G {
            background: #808080;
            border: 2px solid #808080;
        }

        .maze-cell.H {
            background: #f9c9a9;
            border: 2px solid #f9c9a9;
        }

        .dark .maze-cell.H {
            background: #a95939;
            border: 2px solid #a95939;
        }

        .wall-top {
            border-top: 2px solid black !important;
        }

        .dark .wall-top {
            border-top: 2px solid white !important;
        }

        .wall-right {
            border-right: 2px solid black !important;
        }

        .dark .wall-right {
            border-right: 2px solid white !important;
        }

        .wall-bottom {
            border-bottom: 2px solid black !important;
        }

        .dark .wall-bottom {
            border-bottom: 2px solid white !important;
        }

        .wall-left {
            border-left: 2px solid black !important;
        }

        .dark .wall-left {
            border-left: 2px solid white !important;
        }

#thermo-sudoku {
    background-image: url("../../img/Sudoku\ Cipher/thermometer.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


