.flowchart {
    font-family: "Special Elite";
    font-size: 15pt;
    text-anchor: middle;
}
.flowchart path {
    stroke: #000;
    stroke-width: 1.4px;
    marker-end: url(#a);
}
.flowchart rect {
    fill: #cfe2f3;
    stroke: #000;
    stroke-width: 1.1px;
}
.flowchart :not(.highlightable) {
    user-select: none;
    pointer-events: none;
}
.number { font-weight: bold; }
.dark .flowchart { filter: invert(90%) hue-rotate(180deg); }