.tf-rule-column {
    float: left;
    width: 50%;
}
.tf-rule-column ul {
    margin: .1em;
    list-style-type: none;
    padding-left: 1.5em;
}
.tf-rule-column li {
    position: relative;
}
.tf-rule-column li:before {
    position: absolute;
    left: -1.5em;
    content: '—';
}
h4 {
    text-decoration: none;
}