p { margin-bottom: 0;}
ul { margin: 0 auto; }
h3 { margin-top: 0.4em; }
table { margin: 1em auto; }

.fan-tables {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
}

.fan-tables table {
    border-collapse: collapse;
    border: 1px solid #333;
    width: 100px;
    text-align: center;
}

.fan-tables td {
    border: 1px solid #333;
    padding: 0;
    line-height: 1.3;
}

.fan-tables tr td:nth-of-type(2) {
    font-family: 'Fans', sans-serif;
    font-size: 3.5em;
}
