ul {
    font-size: 10pt;
    padding-left: 1.25em;
    line-height: 1.2;
}

svg {
    display: block;
    margin: 1em auto;
    width: 87%;
}
.dark svg :not(.highlightable, .stroke-highlightable) {
    filter: invert(86%);
}
.dark svg path.box {
    stroke: #DDD;
}
.stroke-highlightable {
    fill: none;
    stroke: transparent;
    stroke-width: 10;
}
.parenthetical {
    position: relative;
    height: 0;
    bottom: 3mm;
    font-size: 11px;
}