p { margin: .7em 0; }

ul {
    padding-left: 2em;
    margin: 0;
}

strong { white-space: nowrap; }
table.layout { border: none; }

    table.layout td, table.layout th {
        border: none;
        vertical-align: top;
        padding: .5em 0;
    }
    table.layout th { white-space: nowrap; }

.ruleseed-active .bulb-page-2 { font-size: 10.5pt; }
.underscore { text-decoration: underline; }