th.yourMazeIs {
    background-color:black;
    color:red;
}

table.mazeTypes tbody tr td {
    background-color:black;
    color:white;
}

table.mazeTypes, table.mazeTypes tbody tr td, th.yourMazeIs {
    border: 0px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

div.mazeSizeDescs p {
    font-size: 14px;
}

td.uncannyImage img { width: 50px; }

