.dark table, table {
    margin: auto;
    border: none;
}
table.patterns {
    font-size: 11px;
    width: 49%;
    margin-top: 0;
    margin-bottom: 10px;
}
table.patterns table td {
    width: 10px;
    height: 10px;
}
.hstack {
    align-items: flex-start;
    flex-wrap: wrap;
}
.white { background-color: #FFF; }
.gray { background-color: #AAA; }
.red { background-color: #F88; }
.green { background-color: #8F8; }
.blue { background-color: #88F; }
.yel { background-color: #FF8; }
.mag { background-color: #F8F; }
.white, .red, .green, .blue, .yel, .mag {
    color: #000;
}