code {
    background-color: #D8DADA;
}
.dark code {
    background-color: #4D5050;
}

table.webdesign {
    margin: 0 auto;
}

table.webdesign-websites p {
    margin: 0;
}

    table.webdesign-websites p.threshold {
        font-weight: bold;
        margin: .8em 0 .5em;
    }

table.webdesign-websites h4 {
    margin: .5em 0 .8em;
}