.wire-sequence table {
    display: inline-table;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15.1em;
    font-size: 0.9em;
}

.wire-sequence td, .wire-sequence th {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.wire-sequence table .header {
    background-color: #222;
    color: #FFF;
}

.wire-sequence .blue-table {
    /* Because it's the middle table... */
    margin-left: .3em;
    margin-right: .3em;
}

.wire-sequence .second-col {
    width: 5em;
}

