div.word-search-table {
    position: relative;
    width: 175mm;
    margin: 0 auto;
}

div.word-search-table div.letter {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: white;
    width: 10mm;
    height: 10mm;
    font-size: 18pt;
    font-weight: bold;
}
.dark div.word-search-table div.letter { background: #222; }
div.word-search-table div.letter::before {
    content: attr(data-letter);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(1mm);
}
div.word-search-table div.box {
    position: absolute;
    width: 24.5mm;
    height: 24.5mm;
}
div.word-search-table div.box:not(.hint) {
    border: 2px solid;
}
div.word-search-table div.box div.content {
    position: absolute;
    white-space: pre-line;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(1mm);
}

div.highlights { position: absolute; }
.dark table, table {
    border: none;
    width: 175.5mm;
    height: 150.5mm;
}
.dark .hide, .hide { visibility: hidden; }
.dark td, td { border: none; }