.xray-table-1 {
    float: right;
    margin-left: 1em;
}
    .xray-table-1 td {
        text-align: center;
        line-height: 0;
        padding: .05em .25em;
    }

.xray-table-2, .dark .xray-table-2 {
    width: 100%;
    clear: both;
    border: none;
    font-family: 'Special Elite', 'Courier New', monospace;
}

    .xray-table-2 th {
        text-align: center;
        line-height: 0;
        padding: .25em .4em;
    }
    .xray-table-2 td {
        text-align: center;
        padding: .2em .1em 0;
        font-size: 20pt;
    }

    .xray-table th {
        border-width: 3px;
    }

ul {
    padding-left: 1em;
    line-height: 1.2;
}

.icon {
    display: inline-block;
    width: .9cm;
    height: .9cm;
    background-size: 9.9cm 9cm;
    background-repeat: no-repeat;
    background-image: url('../../img/X-Ray/Icons.svg');
}
.icon.flipped { transform: scaleY(-1); }
.dark .icon {
    filter: invert(86%);
}

.icon.a1 { background-position: 0cm 0cm; }
.icon.b1 { background-position: -0.9cm 0cm; }
.icon.c1 { background-position: -1.8cm 0cm; }
.icon.d1 { background-position: -2.7cm 0cm; }
.icon.e1 { background-position: -3.6cm 0cm; }
.icon.f1 { background-position: -4.5cm 0cm; }
.icon.g1 { background-position: -5.4cm 0cm; }
.icon.h1 { background-position: -6.3cm 0cm; }
.icon.i1 { background-position: -7.2cm 0cm; }
.icon.j1 { background-position: -8.1cm 0cm; }
.icon.k1 { background-position: -9cm 0cm; }
.icon.a2 { background-position: 0cm -0.9cm; }
.icon.b2 { background-position: -0.9cm -0.9cm; }
.icon.c2 { background-position: -1.8cm -0.9cm; }
.icon.d2 { background-position: -2.7cm -0.9cm; }
.icon.e2 { background-position: -3.6cm -0.9cm; }
.icon.f2 { background-position: -4.5cm -0.9cm; }
.icon.g2 { background-position: -5.4cm -0.9cm; }
.icon.h2 { background-position: -6.3cm -0.9cm; }
.icon.i2 { background-position: -7.2cm -0.9cm; }
.icon.j2 { background-position: -8.1cm -0.9cm; }
.icon.k2 { background-position: -9cm -0.9cm; }
.icon.a3 { background-position: 0cm -1.8cm; }
.icon.b3 { background-position: -0.9cm -1.8cm; }
.icon.c3 { background-position: -1.8cm -1.8cm; }
.icon.d3 { background-position: -2.7cm -1.8cm; }
.icon.e3 { background-position: -3.6cm -1.8cm; }
.icon.f3 { background-position: -4.5cm -1.8cm; }
.icon.g3 { background-position: -5.4cm -1.8cm; }
.icon.h3 { background-position: -6.3cm -1.8cm; }
.icon.i3 { background-position: -7.2cm -1.8cm; }
.icon.j3 { background-position: -8.1cm -1.8cm; }
.icon.k3 { background-position: -9cm -1.8cm; }
.icon.a4 { background-position: 0cm -2.7cm; }
.icon.b4 { background-position: -0.9cm -2.7cm; }
.icon.c4 { background-position: -1.8cm -2.7cm; }
.icon.d4 { background-position: -2.7cm -2.7cm; }
.icon.e4 { background-position: -3.6cm -2.7cm; }
.icon.f4 { background-position: -4.5cm -2.7cm; }
.icon.g4 { background-position: -5.4cm -2.7cm; }
.icon.h4 { background-position: -6.3cm -2.7cm; }
.icon.i4 { background-position: -7.2cm -2.7cm; }
.icon.j4 { background-position: -8.1cm -2.7cm; }
.icon.k4 { background-position: -9cm -2.7cm; }
.icon.a5 { background-position: 0cm -3.6cm; }
.icon.b5 { background-position: -0.9cm -3.6cm; }
.icon.c5 { background-position: -1.8cm -3.6cm; }
.icon.d5 { background-position: -2.7cm -3.6cm; }
.icon.e5 { background-position: -3.6cm -3.6cm; }
.icon.f5 { background-position: -4.5cm -3.6cm; }
.icon.g5 { background-position: -5.4cm -3.6cm; }
.icon.h5 { background-position: -6.3cm -3.6cm; }
.icon.i5 { background-position: -7.2cm -3.6cm; }
.icon.j5 { background-position: -8.1cm -3.6cm; }
.icon.k5 { background-position: -9cm -3.6cm; }
.icon.a6 { background-position: 0cm -4.5cm; }
.icon.b6 { background-position: -0.9cm -4.5cm; }
.icon.c6 { background-position: -1.8cm -4.5cm; }
.icon.d6 { background-position: -2.7cm -4.5cm; }
.icon.e6 { background-position: -3.6cm -4.5cm; }
.icon.f6 { background-position: -4.5cm -4.5cm; }
.icon.g6 { background-position: -5.4cm -4.5cm; }
.icon.h6 { background-position: -6.3cm -4.5cm; }
.icon.i6 { background-position: -7.2cm -4.5cm; }
.icon.j6 { background-position: -8.1cm -4.5cm; }
.icon.k6 { background-position: -9cm -4.5cm; }
.icon.a7 { background-position: 0cm -5.4cm; }
.icon.b7 { background-position: -0.9cm -5.4cm; }
.icon.c7 { background-position: -1.8cm -5.4cm; }
.icon.d7 { background-position: -2.7cm -5.4cm; }
.icon.e7 { background-position: -3.6cm -5.4cm; }
.icon.f7 { background-position: -4.5cm -5.4cm; }
.icon.g7 { background-position: -5.4cm -5.4cm; }
.icon.h7 { background-position: -6.3cm -5.4cm; }
.icon.i7 { background-position: -7.2cm -5.4cm; }
.icon.j7 { background-position: -8.1cm -5.4cm; }
.icon.k7 { background-position: -9cm -5.4cm; }
.icon.a8 { background-position: 0cm -6.3cm; }
.icon.b8 { background-position: -0.9cm -6.3cm; }
.icon.c8 { background-position: -1.8cm -6.3cm; }
.icon.d8 { background-position: -2.7cm -6.3cm; }
.icon.e8 { background-position: -3.6cm -6.3cm; }
.icon.f8 { background-position: -4.5cm -6.3cm; }
.icon.g8 { background-position: -5.4cm -6.3cm; }
.icon.h8 { background-position: -6.3cm -6.3cm; }
.icon.i8 { background-position: -7.2cm -6.3cm; }
.icon.j8 { background-position: -8.1cm -6.3cm; }
.icon.k8 { background-position: -9cm -6.3cm; }
.icon.a9 { background-position: 0cm -7.2cm; }
.icon.b9 { background-position: -0.9cm -7.2cm; }
.icon.c9 { background-position: -1.8cm -7.2cm; }
.icon.d9 { background-position: -2.7cm -7.2cm; }
.icon.e9 { background-position: -3.6cm -7.2cm; }
.icon.f9 { background-position: -4.5cm -7.2cm; }
.icon.g9 { background-position: -5.4cm -7.2cm; }
.icon.h9 { background-position: -6.3cm -7.2cm; }
.icon.i9 { background-position: -7.2cm -7.2cm; }
.icon.j9 { background-position: -8.1cm -7.2cm; }
.icon.k9 { background-position: -9cm -7.2cm; }
.icon.a10 { background-position: 0cm -8.1cm; }
.icon.b10 { background-position: -0.9cm -8.1cm; }
.icon.c10 { background-position: -1.8cm -8.1cm; }
.icon.d10 { background-position: -2.7cm -8.1cm; }
.icon.e10 { background-position: -3.6cm -8.1cm; }
.icon.f10 { background-position: -4.5cm -8.1cm; }
.icon.g10 { background-position: -5.4cm -8.1cm; }
.icon.h10 { background-position: -6.3cm -8.1cm; }
.icon.i10 { background-position: -7.2cm -8.1cm; }
.icon.j10 { background-position: -8.1cm -8.1cm; }
.icon.k10 { background-position: -9cm -8.1cm; }