div.footnote {
    font-size: 70%;
    margin-left: 1em;
    margin-top: 2.5em;
    position: relative;
}
div.footnote::before {
    content: '*';
    position: absolute;
    left: -1em;
}
div.footnote::after {
    content: '';
    position: absolute;
    border-top: 1px solid #aaa;
    left: -1em;
    top: -1em;
    width: 15em;
}
div.footnote p {
    margin: 0;
}
li {
    margin-top: .2em;
}