.full-diagram { width: 100%; }
path.highlightable {
    fill: transparent;
    stroke-opacity: 0;
}
svg.small-diagram {
    width: 15em;
    margin-left: 2em;
    float: right;
    clear: right;
}
svg.small-diagram.v2 {
    position: absolute;
    right: 4em;
    bottom: 4em;
}
svg.small-diagram > text {
    text-anchor: middle;
    font-size: 1.25%;
}
.page {
    position: relative;
}
@media screen and (max-width: 900px) {
    svg.small-diagram.v2 {
        position: static;
    }
}
.dark .diagram-content, .dark .small-diagram {
    filter: brightness(0.68) invert(87%);
}