/* Used For The Sequence List */
@font-face {
  font-family:Thorn;
  src:url(Thorn.ttf);
}

Font0 {
    font-size:25px;
	font-family:Thorn;
}

@font-face {
	font-family:Slabten;
	src:url(Slabten.otf);
}

Font1 {
	font-size:25px;
	font-family:Slabten;
}

@font-face {
	font-family:Roundfra;
	src:url(Roundfra.ttf);
}

Font2 {
	font-size:25px;
	font-family:Roundfra;
}

@font-face {
	font-family:Anoxic;
	src:url(Anoxic.ttf);
}

Font3 {
	font-size:25px;
	font-family:Anoxic;
}

@font-face {
	font-family:Gavabon;
	src:url(Gavabon.otf);
}

Font4 {
	font-size:25px;
	font-family:Gavabon;
}

@font-face {
	font-family:Nadilla;
	src:url(Nadilla.otf);
}

Font5 {
	font-size:25px;
	font-family:Nadilla;
}

@font-face {
	font-family:Calderdale;
	src:url(Calderdale.ttf);
}

Font6 {
	font-size:25px;
	font-family:Calderdale;
}

@font-face {
	font-family:BurningSun;
	src:url(BurningSun.ttf);
}

Font7 {
	font-size:25px;
	font-family:BurningSun;
}

@font-face {
	font-family:Waringtons;
	src:url(Waringtons.ttf);
}

Font8 {
	font-size:25px;
	font-family:Waringtons;
}

@font-face {
	font-family:VTKSBlocketo;
	src:url(VTKSBlocketo.ttf);
}

Font9 {
	font-size:25px;
	font-family:VTKSBlocketo;
}

@font-face {
	font-family:Brittanian;
	src:url(Brittanian.ttf);
}

Font10 {
	font-size:25px;
	font-family:Brittanian;
}

@font-face {
	font-family:Corners;
	src:url(Corners.ttf);
}

Font11 {
	font-size:25px;
	font-family:Corners;
}

@font-face {
	font-family:OkayAgain;
	src:url(OkayAgain.ttf);
}

Font12 {
	font-size:25px;
	font-family:OkayAgain;
}

@font-face {
	font-family:QtieScript;
	src:url(QtieScript.ttf);
}

Font13 {
	font-size:25px;
	font-family:QtieScript;
}

@font-face {
	font-family:AlAtharaSabil;
	src:url(AlAtharaSabil.otf);
}

Font14 {
	font-size:25px;
	font-family:AlAtharaSabil;
}

@font-face {
	font-family:LostLeonest;
	src:url(LostLeonest.otf);
}

Font15 {
	font-size:25px;
	font-family:LostLeonest;
}

@font-face {
	font-family:MalvineW;
	src:url(MalvineW.ttf);
}

Font16 {
	font-size:25px;
	font-family:MalvineW;
}

@font-face {
	font-family:Eleganta;
	src:url(Eleganta.ttf);
}

Font17 {
	font-size:25px;
	font-family:Eleganta;
}

@font-face {
	font-family:ThickBookstaves;
	src:url(ThickBookstaves.otf);
}

Font18 {
	font-size:25px;
	font-family:ThickBookstaves;
}

@font-face {
	font-family:RomanMorrissey;
	src:url(RomanMorrissey.ttf);
}

Font19 {
	font-size:25px;
	font-family:RomanMorrissey;
}

@font-face {
	font-family:Valtin;
	src:url(Valtin.ttf);
}

Font20 {
	font-size:25px;
	font-family:Valtin;
}

@font-face {
	font-family:Cikandei;
	src:url(Cikandei.ttf);
}

Font21 {
	font-size:25px;
	font-family:Cikandei;
}

@font-face {
	font-family:Qarius;
	src:url(Qarius.ttf);
}

Font22 {
	font-size:25px;
	font-family:Qarius;
}

@font-face {
	font-family:KidsShapeBasic;
	src:url(KidsShapeBasic.ttf);
}

Font23 {
	font-size:25px;
	font-family:KidsShapeBasic;
}

@font-face {
	font-family:VTKSCriminal75;
	src:url(VTKSCriminal75.ttf);
}

Font24 {
	font-size:25px;
	font-family:VTKSCriminal75;
}

@font-face {
	font-family:TanomuzeCowboy;
	src:url(TanomuzeCowboy.ttf);
}

Font25 {
	font-size:25px;
	font-family:TanomuzeCowboy;
}

@font-face {
	font-family:QuiteColorful;
	src:url(QuiteColorful.ttf);
}

Font26 {
	font-size:25px;
	font-family:QuiteColorful;
}

@font-face {
	font-family:CrunchyPasta;
	src:url(CrunchyPasta.ttf);
}

Font27 {
	font-size:25px;
	font-family:CrunchyPasta;
}

@font-face {
	font-family:Luminousity;
	src:url(Luminousity.ttf);
}

Font28 {
	font-size:25px;
	font-family:Luminousity;
}

@font-face {
	font-family:Gitar;
	src:url(Gitar.ttf);
}

Font29 {
	font-size:25px;
	font-family:Gitar;
}

@font-face {
	font-family:DrMingo;
	src:url(DrMingo.ttf);
}

Font30 {
	font-size:25px;
	font-family:DrMingo;
}

@font-face {
	font-family:DreamHer;
	src:url(DreamHer.ttf);
}

Font31 {
	font-size:25px;
	font-family:DreamHer;
}