body {
    background: rgb(50, 50, 50);
}

body, #main-table th::after, textarea, button, input {
    color: rgb(150, 150, 150);
}

#main-table, div.popup, textarea, div.error, button, input, pre.diff {
    background: rgb(40, 40, 40);
}

    #main-table th, #main-table td, pre.diff {
        border-color: rgb(80, 80, 80);
    }

#logo img, .mod-icon, .icons > div.icon {
    filter: brightness(0.8);
}

img.icon[alt="Tutorial video"] {
    filter: brightness(1.8);
}

img.icon[alt="Source code"] {
    filter: invert(1) brightness(0.4);
}

img.icon[alt="Steam Workshop"] {
    filter: invert(0.75) brightness(0.6);
}

.manual-icon {
    filter: brightness(0.6) contrast(1.5);
}

a:link, #main-table-container > #tabs > .tab, .icons .icon > .icon-link {
    color: rgb(170, 170, 170);
}

    a:visited, .icons .icon > .icon-link:visited {
        color: rgb(130, 130, 130);
    }

#main-table-container > #tabs > .tab {
    background: #444;
    border-color: #444;
    border-top-color: rgb(40, 40, 40);
    border-right-color: rgb(40, 40, 40);
}

.ui-slider.ui-widget.ui-widget-content {
    border-color: rgb(80, 80, 80);
    background: rgb(130, 130, 130)
}

    .ui-slider.ui-widget.ui-widget-content .ui-widget-header {
        background: rgb(100, 100, 100);
        border-color: rgb(80, 80, 80);
    }

    .ui-slider.ui-widget.ui-widget-content .ui-state-default {
        background-color: rgb(150, 150, 150);
        border-color: rgb(80, 80, 80);
    }

    .ui-slider.ui-widget.ui-widget-content .ui-state-hover {
        background-color: rgb(120, 120, 120);
        border-color: rgb(50, 50, 50);
    }

    .ui-slider.ui-widget.ui-widget-content .ui-state-active {
        background-color: rgb(180, 180, 180);
        border-color: rgb(110, 110, 110);
    }

input[type="text"], input[type="number"] {
    border: 1px solid;
    border-color: #444;
}

input[type="radio" i], input[type="checkbox" i], .slider {
    filter: brightness(0.75);
}

#more h3 {
    border-color: #666;
}

#more h4 {
    border-color: #444;
}

/* Mobile */
@media screen and (max-width: 650px) {
    #main-table, #main-table tr.mod {
        border-color: rgb(80, 80, 80);
    }

    .mobile-opt {
        filter: invert(0.4);
    }
}

/* Search */
#search-field-clear {
    filter: invert(0.4);
}

/* JSON */
button {
    border-color: rgb(100, 100, 100);
}

span.sep, span.del, span.ins {
    filter: brightness(0.75);
}

/* When RULE SEED is active */
body.rule-seed-active tr.mod.rs td.infos-1 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path style="fill:%23384b70" d="M 778 0 C 720 0 662 21 618 65 C 553 131 536 226 568 307 L 308 567 C 227 534 131 551 66 616 C 10 672 -10 748 4 819 L 172 652 L 312 687 L 313 688 L 348 829 L 181 996 C 252 1010 329 990 384 935 C 449 869 466 773 433 692 L 692 433 C 774 466 871 450 937 384 C 992 328 1012 252 998 181 L 831 348 L 689 313 L 654 172 L 822 4 C 807 1 792 0 778 0 z"/></svg>');
}

body.rule-seed-active #main-table-container #tabs > #rule-seed-link {
    background: hsl(0, 80%, 27%);
    border-top-color: hsl(0, 80%, 16%);
    border-right-color: hsl(0, 80%, 16%);
    border-left-color: hsl(0, 77%, 20%);
}