body {
	background: rgb(50, 50, 50);
}

body, #main-table th::after, textarea, button, input {
	color: rgb(150, 150, 150);
}

#main-table, div.popup, textarea, div.error, button, input, pre.diff {
	background: rgb(40, 40, 40);
}

#main-table th, #main-table td, pre.diff {
	border-color: rgb(80, 80, 80);
}

#logo img, .mod-icon, .icons > div.icon {
	filter: brightness(0.8);
}

img.icon[alt="Tutorial video"] {
	filter: brightness(1.8);
}

img.icon[alt="Source code"] {
	filter: invert(1) brightness(0.4);
}

img.icon[alt="Steam Workshop"] {
	filter: invert(0.75) brightness(0.6);
}

.manual-icon {
	filter: brightness(0.6) contrast(1.5);
}

a:link, #main-table-container #more-link {
	color: rgb(170, 170, 170);
}

a:visited {
	color: rgb(130, 130, 130);
}

#main-table-container #more-tab {
	background: rgb(40, 40, 40);
	border-bottom: none;
}

#more > div.filters, .ui-widget.ui-widget-content, textarea, input, div.error, #main-table-container #more-tab {
	border-color: rgb(80, 80, 80);
}

.ui-widget-header {
	background: rgb(50, 50, 50);
}

input[type="radio" i], input[type="checkbox" i], .slider {
	filter: brightness(0.75);
}

/* Mobile */
@media screen and (max-width: 650px) { 
	#main-table, #main-table tr.mod {
		border-color: rgb(80, 80, 80);
	}
}

/* Search */
#search-field-clear {
	filter: invert(0.5);
}

/* JSON */
button {
	border-color: rgb(100, 100, 100);
}

span.sep, span.del, span.ins {
	filter: brightness(0.75);
}