@font-face {
  font-family: 'Special Elite Cyrillic';
  src: url('../font/specialelite-cyrillic.woff') format('woff'),
       url('../font/specialelite-cyrillic.ttf')  format('truetype');
}

html {
    font-family: 'Special Elite Cyrillic', 'Courier New', monospace;
}
