/* Primary font used by manuals */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(../font/SpecialElite.ttf);
}

/* Primary font used by main page, FAQs and puzzles */
@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS'), local('Trebuchet'), url(../font/trebuc.ttf);
}
@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: bold;
  src: local('Trebuchet MS Bold'), local('Trebuchet Bold'), url(../font/trebucbd.ttf);
}
@font-face {
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: normal;
  src: local('Trebuchet MS Italic'), local('Trebuchet Italic'), url(../font/trebucit.ttf);
}
@font-face {
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-weight: bold;
  src: local('Trebuchet MS Bold Italic'), local('Trebuchet Bold Italic'), url(../font/trebucbi.ttf);
}

/* Big fat font used by headers on puzzles and FAQs */
@font-face {
    font-family: 'DayPosterBlack';
    src: local('DayPosterBlack'), url(../font/DayPosterBlack.ttf);
}

/* Round symbols; used by Symbolic Coordinates, The Cube, Lightspeed and Reverse Morse */
@font-face {
    font-family: 'KRA';
    src: url(../font/KR_A_Round.ttf);
}

/* Shikaku */
@font-face {
    font-family: 'Shikaku';
    src: url('../font/Shikaku.ttf');
}

/* Used by Lion’s Share and the London Underground optimized sheet */
@font-face {
    font-family: 'Agency FB';
    src: url('../font/Agency FB.ttf');
}
@font-face {
    font-family: 'Agency FB';
    font-weight: bold;
    src: url('../font/Agency FB Bold.ttf');
}


/*** LOGFILE ANALYZER ***/

/* Serial number */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Anonymous Pro'), url(../font/AnonymousPro-Regular.ttf);
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Anonymous Pro Bold'), url(../font/AnonymousPro-Bold.ttf);
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: normal;
  src: local('Anonymous Pro Italic'), url(../font/AnonymousPro-Italic.ttf);
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: bold;
  src: local('Anonymous Pro Bold Italic'), url(../font/AnonymousPro-Bold.ttf);
}

/* Indicators */
@font-face {
  font-family: 'Ostrich';
  src: local('Ostrich Sans'), local('Ostrich'), url(../font/OstrichSans-Heavy_90.otf);
}

/* Dragon shouts in Skyrim */
@font-face {
    font-family: 'DragonAlphabet';
    src: url(../font/dragon_alphabet.ttf);
}
