@font-face { 
  font-family: "Noto Serif JP"; 
  font-weight: 400; 
  font-style: normal; 
  src: local("Noto Serif JP Regular"), url(../font/NotoSerifJP-Regular.otf); 
}

@font-face { 
  font-family: "Noto Serif JP"; 
  font-weight: bold; 
  font-style: normal; 
  src: local("Noto Serif JP Bold"), url(../font/NotoSerifJP-Bold.otf); 
}

*[lang='ja'] { font-family: 'Noto Serif JP', serif;}
*[lang='ja'] .page-header-doc-title { font-family: 'Special Elite'; }