/* Main Font */
@font-face {
  font-family: 'Old Soviet';
  src: url('../font/Old-Soviet.otf');
}

/* Main Fallback Font */
@font-face {
    font-family: 'JMH Typewriter dry';
    src: url('../font/JMH-Typewriter-dry.otf');
}

/* For fancy [RU]Souvenir */
@font-face {
    font-family: 'Agency FB';
    src: url('../font/agencyfbcyrillic.ttf');
}



/* Russian font preset, intended to be used as default */
*[lang='ru'] {
    font-family: 'Old Soviet',
                 'JMH Typewriter dry',
                 'Courier New';
    font-size: 13px;
}