@font-face {
  font-family: 'Special Elite Cyrillic';
  src: url('../font/specialelite-cyrillic.woff') format('woff'),
       url('../font/specialelite-cyrillic.ttf')  format('truetype');
}

/* For fancy [RU]Souvenir */
@font-face {
    font-family: 'Agency FB';
    src: url('../font/agencyfbcyrillic.ttf');
}

html {
    font-family: 'Special Elite Cyrillic', 'Courier New', monospace !important;
}
