html { 
  font-family: "Special Elite Local", "Special Elite", "Courier New", "Yu Gothic", monospace; 
  font-weight: 500; 
}

@font-face { 
  font-family: "Yu Gothic"; 
  font-weight: 500; 
  font-style: normal; 
  src: local("Yu Gothic Medium"), url(font/YuGothic-Medium.ttf); 
}

@font-face { 
  font-family: "Yu Gothic"; 
  font-weight: bold; 
  font-style: normal; 
  src: local("Yu Gothic Bold"), url(font/YuGothic-Bold.ttf); 
}