@font-face {
  font-family: 'NotoTC';
  font-style: normal;
  font-weight: normal;
  src: url(../font/NotoSansCJKtc-Regular.otf);
}

@font-face {
  font-family: 'NotoTC';
  font-style: normal;
  font-weight: bold;
  src: url(../font/NotoSansCJKtc-Bold.otf);
}

*[lang='zh-TW'], *[lang='zh-CN'], *[lang='zh'] {
    font-family: 'NotoTC';
}