th#yourMazeIs{
    background-color:black;
    color:red;
}
td.mazeType{
    background-color:black;
    color:white;
}
table.mazeTypes, th#yourMazeIs, td.mazeType{
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

td{
    border: 4px solid black;
}

table.wallsMazeMaps{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td.wallsMazeHeader{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    text-align: center;
}

td.left{
    border-left-style: hidden;
}

td.right{
    border-right-style: hidden;
}

td.up{
    border-top-style: hidden;
}

td.down{
    border-bottom-style: hidden;
}

tbody.checkerboard5x5,tbody.checkerboard6x6,tbody.checkerboard7x7,tbody.checkerboard8x8{
    height:250px;
    tr:nth-child(odd){
        td:nth-child(odd){
            background-color: lightgray;
        }
    }
    tr:nth-child(even){
        td:nth-child(even){
            background-color: lightgray;
        }
    }
}