:root {
    --background: #eee;
    --foreground: white;
    --text-color: black;

    --selected: #ddd;
    --bullet: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><circle cx=".5" cy=".5" r=".25" fill="%23000" /></svg>');
    --expandable: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M0,0 1,.5 0,1z" fill="%23000" /></svg>');
    --pre: #f8f8f8;
    --error-background: rgba(255, 255, 255, 0.5);
}

/* Dark mode */
:root.dark-mode {
    --background: rgb(50, 50, 50);
    --foreground: rgb(40, 40, 40);
    --text-color: rgb(220, 220, 220);

    --selected: rgb(60, 60, 60);
    --bullet: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><circle cx=".5" cy=".5" r=".25" fill="%23dcdcdc" /></svg>');
    --expandable: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M0,0 1,.5 0,1z" fill="%23dcdcdc" /></svg>');
    --pre: rgb(35, 35, 35);
    --error-background: rgba(50, 50, 50, 0.5);
}

:root.dark-mode a:link:not(.button, .expander) {
    color: rgb(90, 90, 255);
}

    :root.dark-mode a:visited {
        color: rgb(255, 90, 255);
    }

body {
    font-family: 'Trebuchet MS';
    background: var(--background);
    padding: 0;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

kbd {
	font-family: inherit;
	text-decoration: underline;
}

button {
	background: none;
	border: 0;
	padding: 0;
	font: inherit;
	text-align: inherit;
}

#download-logfile {
    margin: 10px 0 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#download-logfile a.button {
    width: fit-content;
    color: #FFF;
}

dialog#exceptions {
    border-color: var(--foreground);
    background: var(--background);
    color: var(--text-color);
    padding: 0;
}

dialog#exceptions pre {
    margin: 0;
    padding-bottom: calc(90vh - 16px * 2 - 16px * 1.2);
    font-size: 16px;
    line-height: 1.2;
}

dialog#exceptions pre span {
    display: inline-block;
    border-left: 4px solid red;
    padding: 8px;
    border-radius: 8px;
    margin: 4px 0;
    background: var(--foreground);
}

dialog#exceptions .controls {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;

    background-color: var(--foreground);
    padding: 5px;
    border-bottom-left-radius: 8px;
}

dialog#exceptions .controls button {
    display: inline;
    height: 40px;
}

dialog#exceptions .content {
    height: 90vh;
    width: 90vw;
    overflow: auto;
    padding: 16px;
}

table {
	border-collapse: collapse;
}

table.standard th, table.standard td {
	padding: .2em .7em;
	border: 1px solid black;
}

table.standard th {
	text-align: center;
}

.javascript-error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;

    background: var(--error-background);

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    opacity: 0;
    animation: fade-in 1s ease-in 3s forwards;
}

.javascript-error div {
    background: var(--background);
    box-shadow: 0px 0px 25px 25px var(--background);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

#wrap {
    max-width: 1080px;
    margin: 0 auto;
    background: var(--foreground);
    padding: 10px 20px 50px;
}
    #wrap > #bombs {
        margin-bottom: 15px;
        clear: both;
    }
        #wrap > #bombs > .bomb {
            float: left;
            display: block;
            width: 240px;
            height: 156px;
            background: url(img/Bomb.png) center center no-repeat;
            background-size: cover;
            position: relative;
            color: black;
            text-decoration: none;
            opacity: .5;
            margin: 5px 5px 0;
            border: 5px solid white;
            box-sizing: content-box;
            transition: opacity 0.2s ease;
        }
            #wrap > #bombs > .bomb.selected {
                opacity: 1;
                border-color: var(--selected);
            }
            #wrap > #bombs > .bomb.preview:hover {
                opacity: 1;
            }
            #wrap > #bombs > .bomb > .serial {
                position: absolute;
                left: 18px;
                top: 50px;
                width: 180px;
                height: 91px;
                background: url(img/Serial%20number.png) center center no-repeat;
                background-size: cover;
                box-sizing: border-box;

                padding: 42px 0 0;
                text-align: center;
                font-family: 'Anonymous Pro';
                font-size: 44px;
                font-weight: bold;
            }
            #wrap > #bombs > .bomb > .serial:not(:first-child) {
                left: 47px;
                top: 9px;
            }
            #wrap > #bombs > .bomb.preview > .serial {
                opacity: 1;
                transition: opacity 0.2s ease;
            }
            #wrap > #bombs > .bomb.preview:hover > .serial {
                opacity: 0;
            }
            #wrap > #bombs > .bomb > .module-count, #wrap > #bombs > .bomb > .needy-count {
                position: absolute;
                left: 3px;
                top: 3px;
                background: white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                font-size: 16pt;
            }
                #wrap > #bombs > .bomb > .needy-count {
                    left: 187px;
                }
                #wrap > #bombs > .bomb > .module-count > .label {
                    font-size: 50%;
                    display: block;
                }
                #wrap > #bombs > .bomb > .needy-count > .label {
                    font-size: 50%;
                    display: block;
                }
            #wrap > #bombs > .bomb > .rule-seed {
                position: absolute;
                left: 53px;
				right: 53px;
                top: 2px;
                background: #fdd;
                text-align: center;
                font-size: 9pt;
                border-radius: 5px;
				padding: .2em 0;
			}
				#wrap > #bombs > .bomb > .rule-seed::before {
					content: 'Rule seed = ';
				}
            #wrap > #bombs > .bomb > .module-count + .rule-seed {
				left: 78px;
				right: 28px;
			}

    #wrap > .bomb-group > .bomb-info {
        clear: both;
		margin-bottom: 10px;
    }
        #wrap > .bomb-group > .bomb-info::after { 
            content: "";
            display: block; 
            clear: both;
        }

        #wrap > .bomb-group > .bomb-info > .edgework {
            clear: both;
            padding: 0 20px;
            overflow: auto;
            background: url(img/EdgeworkBackground.png) top left repeat;
            background-size: 80px;
            margin: 10px 0;
        }
            #wrap > .bomb-group > .bomb-info > .edgework > .widget {
                display: inline-block;
                vertical-align: bottom;
                height: 50px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                margin: 12px 15px 8px 0;
            }
                #wrap > .bomb-group > .bomb-info > .edgework > .widget.separator {
                    background-image: url(img/EdgeworkSeparator.png);
                    width: 9px;
                }
                #wrap > .bomb-group > .bomb-info > .edgework > .widget.serial {
                    background-image: url(img/Serial%20number.png);
                    width: 99px;
                    padding: 23px 0 0 11px;
                    font-family: 'Anonymous Pro';
                    font-weight: bold;
                    font-size: 24px;
                    color: black;
				}
				#wrap > .bomb-group > .bomb-info > .edgework > .widget.randomizedtime {
                    padding: 5px 5px;
					font-family: 'LCDClock';
					background-color: black;
					font-size: 35px;
				}
					#wrap > .bomb-group > .bomb-info > .edgework > .widget.randomizedtime > .label {
						position: relative;
						color: lime;
					}
					#wrap > .bomb-group > .bomb-info > .edgework > .widget.randomizedtime > .shadow {
						position: absolute;
						left: 5px;
						color: rgba(255, 0, 0, 0.5);
					}
				#wrap > .bomb-group > .bomb-info > .edgework > .widget.manufacturedate {
                    padding: 0px 5px;
					font-family: 'pokemon-font';
					font-size: 30px;
					background-color: blue;
					color: white;
				}
				#wrap > .bomb-group > .bomb-info > .edgework > .widget.dayoftheweek {
                    font-family: 'pokemon-font';
					background-image: url(img/DayoftheWeek.png);
					width: 197px;
					display: inline-flex;
					justify-content: center;
				}	
					#wrap > .bomb-group > .bomb-info > .edgework > .widget.dayoftheweek > span {
						color: lime;
						font-size: 18px;
						padding-top: 10px;
						white-space: pre;
					}
					#wrap > .bomb-group > .bomb-info > .edgework > .widget.dayoftheweek.colored > span.day {
						color: cyan;
					}
					#wrap > .bomb-group > .bomb-info > .edgework > .widget.dayoftheweek.colored > span.month {
						color: orange;
					}
                #wrap > .bomb-group > .bomb-info > .edgework > .widget.twofactor {
                	background-image: url(img/TwoFactor.png);
                	width: 105px;
                }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.twofactor {
                	background-image: url(img/MultipleWidgets/TwoFactor.png);
                	width: 201px;
                }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator {
                    width: 200px;
                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator > .label {
	                	color: white;
	                    font-family: 'Ostrich';
	                    font-size: 30px;
	                    letter-spacing: .05em;
	                    position: absolute;
	                    left: 121px;
	                    top: 25px;
	                    transform: translate(-50%, -50%);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.lit {
	                	background-image: url(img/MultipleWidgets/Indicator/white.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.white {
	                	background-image: url(img/MultipleWidgets/Indicator/white.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.unlit {
	                	background-image: url(img/MultipleWidgets/Indicator/black.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.black {
	                	background-image: url(img/MultipleWidgets/Indicator/black.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.blue {
	                	background-image: url(img/MultipleWidgets/Indicator/blue.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.gray {
	                	background-image: url(img/MultipleWidgets/Indicator/gray.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.green {
	                	background-image: url(img/MultipleWidgets/Indicator/green.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.magenta {
	                	background-image: url(img/MultipleWidgets/Indicator/magenta.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.orange {
	                	background-image: url(img/MultipleWidgets/Indicator/orange.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.purple {
	                	background-image: url(img/MultipleWidgets/Indicator/purple.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.red {
	                	background-image: url(img/MultipleWidgets/Indicator/red.png);
	                }

	                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.indicator.yellow {
	                	background-image: url(img/MultipleWidgets/Indicator/yellow.png);
	                }

	            #wrap > .bomb-group > .bomb-info > .edgework > .widget.encryptedindicator {
                    width: 103px;
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.encryptedindicator > .label {
                        color: white;
                        font-family: 'Ostrich';
                        font-size: 24px;
                        letter-spacing: .05em;
                        position: absolute;
                        left: 67px;
                        top: 25px;
                        transform: translate(-50%, -50%);
                        white-space: nowrap;
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.encryptedindicator.lit {
                        background-image: url(img/LitEncryptedIndicator.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.encryptedindicator.unlit {
                        background-image: url(img/UnlitEncryptedIndicator.png);
                    }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.indicator {
                    width: 115px;
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.indicator > .label {
                        color: white;
                        font-family: 'Ostrich';
                        font-size: 30px;
                        letter-spacing: .05em;
                        position: absolute;
                        left: 76px;
                        top: 23px;
                        transform: translate(-50%, -50%);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.indicator.lit {
                        background-image: url(img/LitIndicator.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.indicator.unlit {
                        background-image: url(img/UnlitIndicator.png);
                    }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.numberedindicator {
                    width: 115px;
                    background-image: url(img/NumberedIndicatorBackground.png);
                    background-blend-mode: multiply;
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.numberedindicator > .label {
                        color: black;
                        font-family: 'Ostrich';
                        font-size: 30px;
                        letter-spacing: .05em;
                        position: absolute;
                        left: 73px;
                        top: 25px;
                        transform: translate(-50%, -50%);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.numberedindicator.lit::before {
                        background-image: url(img/LitNumberedIndicator.png);
                        background-size: cover;
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.numberedindicator.unlit::before {
                        background-image: url(img/UnlitNumberedIndicator.png);
                        background-size: cover;
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery {
                }
                	#wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.fouraa {
                        width: 163px;
                        background-image: url(img/MultipleWidgets/Batteries/4xAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.threeaa {
                        width: 165px;
                        background-image: url(img/MultipleWidgets/Batteries/3xAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.twoaa {
                        width: 91px;
                        background-image: url(img/MultipleWidgets/Batteries/2xAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.ninevolt {
                        width: 91px;
                        background-image: url(img/MultipleWidgets/Batteries/9Volt.png);
                    }

                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.emptyfouraa {
                    	width: 161px;
                    	background-image: url(img/MultipleWidgets/Batteries/Empty-4xAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.emptythreeaa {
                    	width: 164px;
                    	background-image: url(img/MultipleWidgets/Batteries/Empty-3xAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.emptytwoaa {
                    	width: 92px;
                    	background-image: url(img/MultipleWidgets/Batteries/Empty-2xAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.battery.emptyninevolt {
                    	width: 91px;
                    	background-image: url(img/MultipleWidgets/Batteries/Empty-9Volt.png);
                    }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.battery {
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.battery.aa {
                        width: 89px;
                        background-image: url(img/BatteryAA.png);
                    }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.battery.d {
                        width: 85px;
                        background-image: url(img/BatteryD.png);
                    }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate {
                    width: 94px;
                    background-image: url(img/MultipleWidgets/Ports/PortPlate.png);
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span {
                        position: absolute;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    	#wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.ac {
                            left: 3px;
                            top: 2px;
                            width: 27px;
                            height: 20px;
                            background-image: url(img/MultipleWidgets/Ports/PortAC.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.stereorca {
                            left: 66px;
                            top: 2px;
                            width: 19px;
                            height: 9px;
                            background-image: url(img/MultipleWidgets/Ports/PortRCA.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.dvi {
                            left: 67px;
                            top: 25px;
                            width: 25px;
                            height: 9px;
                            background-image: url(img/MultipleWidgets/Ports/PortDVI.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.rj45 {
                            left: 41px;
                            top: 3px;
                            width: 15px;
                            height: 18px;
                            background-image: url(img/MultipleWidgets/Ports/PortRJ.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.ps2 {
                            left: 30px;
                            top: 22px;
                            width: 14px;
                            height: 13px;
                            background-image: url(img/MultipleWidgets/Ports/PortPS2.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.parallel {
                            left: 55px;
                            top: 38px;
                            width: 38px;
                            height: 10px;
                            background-image: url(img/MultipleWidgets/Ports/PortParallel.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.serial {
                            left: 5px;
                            top: 25px;
                            width: 18px;
                            height: 9px;
                            background-image: url(img/MultipleWidgets/Ports/PortSerial.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.usb {
                            left: 32px;
                            top: 4px;
                            width: 9px;
                            height: 16px;
                            background-image: url(img/MultipleWidgets/Ports/PortUSB.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.pcmcia {
                            left: 1px;
                            top: 37px;
                            width: 53px;
                            height: 12px;
                            background-image: url(img/MultipleWidgets/Ports/PortPCMCIA.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.componentvideo {
                            left: 57px;
                            top: 11px;
                            width: 28px;
                            height: 10px;
                            background-image: url(img/MultipleWidgets/Ports/PortComponent.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.compositevideo {
                            left: 57px;
                            top: 2px;
                            width: 8px;
                            height: 9px;
                            background-image: url(img/MultipleWidgets/Ports/PortComposite.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.vga {
                            left: 46px;
                            top: 24px;
                            width: 19px;
                            height: 10px;
                            background-image: url(img/MultipleWidgets/Ports/PortVGA.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.multiplewidgets.portplate > span.hdmi {
                            left: 86px;
                            top: 3px;
                            width: 6px;
                            height: 17px;
                            background-image: url(img/MultipleWidgets/Ports/PortHDMI.png);
                        }


                #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate {
                    width: 112px;
                    background-image: url(img/PortPlate.png);
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span {
                        position: absolute;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span.stereorca {
                            left: 91px;
                            top: 13px;
                            width: 15px;
                            height: 30px;
                            background-image: url(img/PortRCA.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span.dvi {
                            left: 6px;
                            top: 23px;
                            width: 71px;
                            height: 23px;
                            background-image: url(img/PortDVI.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span.rj45 {
                            left: 3px;
                            top: 3px;
                            width: 21px;
                            height: 21px;
                            background-image: url(img/PortRJ.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span.ps2 {
                            left: 67px;
                            top: 5px;
                            width: 21px;
                            height: 21px;
                            background-image: url(img/PortPS2.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span.parallel {
                            left: 6px;
                            top: 4px;
                            width: 98px;
                            height: 20px;
                            background-image: url(img/PortParallel.png);
                        }
                        #wrap > .bomb-group > .bomb-info > .edgework > .widget.portplate > span.serial {
                            left: 30px;
                            top: 24px;
                            width: 52px;
                            height: 22px;
                            background-image: url(img/PortSerial.png);
                        }

                #wrap > .bomb-group > .bomb-info > .edgework > .widget.voltagemeter {
                    background-image: url(img/VoltageMeter.png);
                    width: 100px;
                }
                    #wrap > .bomb-group > .bomb-info > .edgework > .widget.voltagemeter > span {
                        position: absolute;
                        width: 2px;
                        height: 80%;
                        bottom: 0;
                        background-color: #f00000;
                        transform: translateX(-50%);
                    }

        #wrap > .bomb-group > .bomb-info > .modules {
            float: left;
            clear: left;
            border-right: 1px solid #ccc;
        }
            #wrap > .bomb-group > .bomb-info > .modules > .module {
				position: relative;
				display: block;
                cursor: pointer;
                width: 350px;
                height: 40px;
                padding: 0 5px;
                color: var(--text-color);
                text-decoration: none;
			}
				#wrap > .bomb-group > .bomb-info > .modules > .module.selected {
					background: var(--selected) !important;
				}
            	#wrap > .bomb-group > .bomb-info > .modules > .module > div {
					display: grid;
					grid-template-columns: auto 1fr auto;
					align-items: center;
				}
					#wrap > .bomb-group > .bomb-info > .modules > .module > div > img {
						width: 32px;
						height: 32px;
						transition: filter 1s;
					}
					#wrap > .bomb-group > .bomb-info > .modules > .module > div > .event-indicators {
						display: flex;
						justify-content: flex-end;
						padding: 0 5px;
						align-items: center;
					}
        #wrap > .bomb-group > .bomb-info > .module-info {
            padding-left: 370px;
            display: none;
            position: sticky;
            top: 8px;
            pointer-events: none;
        }
            #wrap > .bomb-group > .bomb-info > .module-info > * {
                pointer-events: auto;
            }

            #wrap > .bomb-group > .bomb-info > .module-info ul {
                list-style-type: none;
            }
            #wrap > .bomb-group > .bomb-info > .module-info > textarea {
                width: 100%;
                height: 40em;
			}
		#wrap > .bomb-group > hr {
			margin: 25px 0;
		}

/* SAM */

#ui > h1 {
    font-size: 50px;
    text-align: center;
}

#ui > .paths {
    clear: both;
}

    #ui > .paths > h2 {
        font-size: 30px;
        text-align: center;
        padding-top: 2em;
    }

    #ui > .paths > table {
        border-collapse: collapse;
    }
        #ui > .paths > table td, #ui > .paths > table th {
            vertical-align: top;
            padding: .25em .5em;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }
        #ui > .paths > table td {
            font-family: 'Courier New', 'Special Elite', monospace;
            -ms-word-break: break-word;
            word-break: break-word;
            font-size: 16px;
        }
        #ui > .paths > table th {
            white-space: nowrap;
        }

#ui > .ui-part {
    float: left;
    position: relative;
    width: 33%;
    height: 200px;
    text-align: center;
    font-size: 40px;
    padding: 0 50px;
}
    #ui > .ui-part + .ui-part {
        border-left: 1px solid #ccc;
        position: relative;
    }
        #ui > .ui-part + .ui-part::after {
            content: 'or';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            background: var(--foreground);
        }

    #ui > .ui-part > div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
        #ui > .ui-part > div .extra {
            margin-top: .5em;
            font-size: 50%;
        }

        #ui > .ui-part > div #paste-box {
            display: none;
        }

    #ui.has-bomb {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        overflow: auto;
    }

        #ui.has-bomb > .paths {
            display: none;
        }

        #ui.has-bomb > h1 {
            display: none;
        }

        #ui.has-bomb > .ui-part {
            height: 60px;
            text-align: center;
            font-size: 20px;
            padding: 0 10px;
        }
            #ui.has-bomb > .ui-part + .ui-part {
                border-left: 1px solid #ccc;
                position: relative;
            }

            #ui.has-bomb > .ui-part > div {
                min-width: 9em;
            }
                #ui.has-bomb > .ui-part > div .button {
                    padding: 7px 20px;
                    display: inline-block;
                }

                #ui.has-bomb > .ui-part > div .extra {
					display: block;
                }
				#ui.has-bomb > .ui-part > div .extra > input {
					margin: 0;
					vertical-align: middle;
				}

.button {
    display: block;
    padding: .5em 1em;
    color: white;
    text-decoration: none;
    background-color: rgb(20, 80, 200);
    transition: background-color .1s, box-shadow .1s;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-radius: 3px;
    pointer-events: all;
}
    .button:hover {
        background-color: rgb(40, 120, 255);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.73)
    }

#upload {
    display: none;
}

#full-screen-msg {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    pointer-events: none;
    transition: background-color .1s;
}

    #full-screen-msg.hovering {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #full-screen-msg span {
        color: rgba(0, 0, 0, 0);
        font-size: 15vmin;
        align-self: center;
        user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        transition: color .1s;
    }

        #full-screen-msg.hovering span {
            color: white;
        }

.module-info ul {
    margin: .3em 0;
}

.module-info li {
    position: relative;
}

    .module-info li:not(.expandable):not(.no-bullet)::before, .module-info li.expandable a.expander::before {
        position: absolute;
        content: '';
        left: -1.25em;
        top: 5px;
        width: .7em;
        height: .7em;
        background-size: 75%;
        transition: transform .2s;
    }

        .module-info li:not(.expandable):not(.no-bullet)::before {
            background: var(--bullet) center center no-repeat;
        }

    .module-info li.expandable {
        margin: .3em 0;
    }

        .module-info li.expandable a.expander::before {
            background: var(--expandable) center center no-repeat;
        }

        .module-info li.expandable.expanded > a.expander::before {
            transform: rotate(90deg);
        }

        .module-info li.expandable > a.expander {
            display: block;
            color: var(--text-color);
        }

        .module-info li.expandable:not(.expanded) > :not(.expander) {
            display: none;
        }

        .module-info li.expandable.expanded > a.expander {
            text-decoration: none;
        }

.module-info pre {
    background: var(--pre);
    border: 1px solid #ddd;
    margin: .3em .6em;
    padding: .5em .7em;
    font-size: 110%;
    overflow: auto;
}

div.empty-log {
    display: none;
    height: 500px;
    position: relative;
    text-align: center;
    color: #888;
}
    div.empty-log::before {
        content: 'This logfile is empty.';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        font-size: 60px;
    }
    div.empty-log::after {
        content: 'If you restarted the game before uploading this logfile, then your log is gone. Sorry :(';
        display: block;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 10%;
    }

    #wrap.has-empty-log div.empty-log {
        display: block;
    }