/* 101 Dalmatians */
	div.dalmatians-pattern { 
		border-radius: 100%;
		background-size: contain;
		width: 10cm;
		height: 10cm;
	}
/* 14 */
	table.fourteen-table {
		border-collapse: collapse; 
		text-align: center;
	}
		table.fourteen-table td, 
		table.fourteen-table th {
			border: 1px solid black;
			padding: .3em .6em;
		}
		table.fourteen-table .sep, .dark-mode table.fourteen-table .sep { 
			border: none; 
		}
		.dark-mode table.fourteen-table td, 
		.dark-mode table.fourteen-table th {
			border: 1px solid #DDD;
			padding: .3em .6em;
		}
		.dark-mode table.fourteen-table .colored { 
			color: black;
		}
	table.stage-answer th {
		text-align: right; 
	}
	table.stage-answer td,
	table.stage-answer th { 
		border: 1px solid black;  
	}
	.dark-mode table.stage-answer td,
	.dark-mode table.stage-answer th {
		border: 1px solid #DDD;
	}
/* 1D Chess */
	span.one-d-chess-black-move {
		background: black;
		color: #EEE;
		padding: 0px 4px;
	}
	span.one-d-chess-white-move {
		background: #EEE;
		color: black;
		padding: 0px 4px;
	}
/* 2048 */
	div.twok48 {
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
	}
		div.twok48 div.grid-label {
			display: inline-block;
			padding: 5px 0;
			margin: 10px 0;
			min-width: 150px;
			text-align: center;
		}
		div.twok48 span.arrow-button {
			padding: 5px 10px;
			margin: 10px;
			cursor: pointer;
			background: #EEE4DA;
			color: black;
			font-weight: 900px;
			border-radius: 6px;
		}
			div.twok48 span.arrow-button.left {
				margin-left: -4px;
			}
		div.twok48 div.game-container {
			position: relative;
			width: 300px;
			height: 300px;
			background: #BBADA0;
			border-radius: 6px;
		}
			div.twok48 div.game-container div.grid-container,
			div.twok48 div.game-container div.tile-container {
				position: absolute;
				width: 70%;
				height: 70%;
				top: 15%;
				left: 15%;
			}
			div.twok48 div.game-container div.grid-container {
				z-index: 10;
			}
			div.twok48 div.game-container div.grid-container div.backing-tile {
				position: absolute;
				width: 60px;
				height: 60px;
				background: #CDC1B4;
				border-radius: 6px;
				transform: translate(-50%, -50%);
			}
			div.twok48 div.game-container div.tile-container { 
				z-index: 20;
			}
				div.twok48 div.game-container div.tile-container div.wrapper {
					position: absolute;
					width: 60px;
					height: 60px;
					transform: translate(-50%, -50%);
				}
					div.twok48 div.game-container div.tile-container div.wrapper div.inner {
						text-align: center;
						line-height: 60px;
						font-weight: 900px;
						border-radius: 6px;
					}
/* 7 */
	svg.seven-graphic {
		height: 3cm; 
		display: block;
	}
		svg.seven-graphic path.segment,
		svg.seven-graphic circle.led {
			stroke: black;
			stroke-width: 0.1;
		}
/* Algebra */
	img.algebra-image {
		height: 3em;
	}
	.dark-mode img.algebra-image {
		filter: invert(90%);
	}
/* Apple Pen & Pineapple Pen */
	table.ppap-table {
		width: 3in;
	}
		table.ppap-table td {
			border: 1mm solid; 
			text-align: center;
		}
			table.ppap-table td > img {
				width: 1cm; 
				margin: 0
			}
/* Arithmetic Cipher */
	table.arith-c-freq-table {
		width: 100%;
		margin-bottom: 0.1cm;
	}
		table.arith-c-freq-table td,
		table.arith-c-freq-table th {
			border: 1px solid;
			padding: 0.5mm 1mm;
		}
		table.arith-c-freq-table th,
		table.bit-value-table th {
			background: #EEE;
		}
		.dark-mode table.arith-c-freq-table th,
		.dark-mode table.bit-value-table th {
			background: #444;
		}
	table.bit-value-table td,
	table.bit-value-table th {
		border: 1px solid;
		padding: 0.5mm 2mm;
	}
	table.bit-value-table td.bits {
		font-family: monospace;
		font-size: 14pt;
	}
		table.bit-value-table td.bits span.red {
			background: hsl(0, 100%, 90%);
		}
		table.bit-value-table td.bits span.blue {
			background: hsl(230, 100%, 90%);
		}
		.dark-mode table.bit-value-table td.bits span.red {
			background: hsl(0, 80%, 40%);
		}
		.dark-mode table.bit-value-table td.bits span.blue {
			background: hsl(230, 80%, 40%);
		}
/* Badugi */
	span.badugi-cards {
		font-family: 'Dejavu Sans'; 
		font-size: 50pt;
	}
/* Battleship */
	table.battleship-table {
		border-spacing: 0;
		border-collapse: separate;
	}
		table.battleship-table td {
			border: 3px solid transparent;
			text-align: center;
			padding: 0;
		}
			table.battleship-table td.safe {
				border: 3px solid red;
			}
		table.battleship-table img {
			display: block;
		}
/* Binary Cipher */ 
	table.binary-c-table {
		margin: 1mm 0 3mm;
	}
	table.binary-c-table td { 
		border: 1px solid;
		padding: 0;
		text-align: center;
		width: 0.75cm;
		height: 0.75cm;
	}
/* Binary Puzzle */
	table.binary-puzzle-table {
		border-collapse: collapse;
	}
		table.binary-puzzle-table td {
			border: 1px solid;
			padding: 0.4em 0;
			width: 1.1cm;
			text-align: center;
		}
			table.binary-puzzle-table td.red {
				background: #FCC;
			}
			table.binary-puzzle-table td.green {
				background: #CFC;
			}
			.dark-mode table.binary-puzzle-table td.red {
				background: #C55;
			}
			.dark-mode table.binary-puzzle-table td.green {
				background: #5C5;
			}
/* Binary Tree */
	svg.binary-tree {
		width: 50%;
		display: block;
		margin-bottom: 2mm;
	}
		svg.binary-tree line {
			stroke: black;
			stroke-width: 0.1;
		}
		svg.binary-tree text {
			font-size: 0.85px;
			text-anchor: middle;
			dominant-baseline: central;
		}
		.dark-mode svg.binary-tree line {
			stroke: #EEE;
		}
/* The Bioscanner */
	img.bioscanner-image {
		display: block;
		margin: 0 5px 5px 0;
	}
/* Boolean Venn Diagram */
	svg.boolean-venn-diagram path,
	svg.boolean-venn-diagram circle {
		stroke: black;
		stroke-width: 3;
	}
	svg.boolean-venn-diagram text {
		text-anchor: middle;
		dominant-baseline: central;
		fill: black;
	}
/* Boozleage */
	svg.boozleage {
		width: 4.5in; 
		display: block; 
		margin: 0
	}
		svg.boozleage path.button {
			stroke: black;
			stroke-width: 2;
		}
		svg.boozleage path.square {
			stroke: #4FF;
			stroke-width: 4;
			stroke-opacity: 0.7;
			fill: none;
		}
		svg.boozleage circle.letter-circle {
			fill: white;
			stroke: black;
			stroke-width: 2;
		}
		svg.boozleage text.letter {
			font-size: 12px;
			color: black;
			dominant-baseline: central;
			text-anchor: middle;
		}
/* Braille */
	svg.braille-pattern {
		width: 10%;
		border: 1px solid;
	}
		svg.braille-pattern circle.dot {
			fill: black;
		}
		svg.braille-pattern rect.highlight {
			fill: rgba(255, 255, 0, 0.5);
		}
		svg.braille-pattern text{
			text-anchor: middle;
			dominant-baseline: central;
			font-size: 0.6px;
		}
		svg.braille-pattern text.on-dot {
			fill: white;
		}
		svg.braille-pattern text.no-dot {
			fill: black;
		}
		.dark-mode svg.braille-pattern text.on-dot {
			fill: black;
		}
		.dark-mode svg.braille-pattern circle.dot {
			fill: #EEE;
		}