/* 101 Dalmatians */
	div.dalmatians-pattern { 
		border-radius: 100%;
		background-size: contain;
		width: 10cm;
		height: 10cm;
	}
/* 14 */
	table.fourteen-table {
		border-collapse: collapse; 
		text-align: center;
	}
		table.fourteen-table td, 
		table.fourteen-table th {
			border: 1px solid black;
			padding: .3em .6em;
		}
		table.fourteen-table .sep, .dark-mode table.fourteen-table .sep { 
			border: none; 
		}
		.dark-mode table.fourteen-table td, 
		.dark-mode table.fourteen-table th {
			border: 1px solid #DDD;
			padding: .3em .6em;
		}
		.dark-mode table.fourteen-table .colored { 
			color: black;
		}
	table.stage-answer th {
		text-align: right; 
	}
	table.stage-answer td,
	table.stage-answer th { 
		border: 1px solid black;  
	}
	.dark-mode table.stage-answer td,
	.dark-mode table.stage-answer th {
		border: 1px solid #DDD;
	}
/* 1D Chess */
	.one-d-chess-black-move {
		background: black;
		color: #EEE;
		padding: 0px 4px;
	}
	.one-d-chess-white-move {
		background: #EEE;
		color: black;
		padding: 0px 4px;
	}
	