/* 101 Dalmatians */
	div.dalmatians-pattern { 
		border-radius: 100%;
		background-size: contain;
		width: 10cm;
		height: 10cm;
	}
/* 14 */
	table.fourteen-table {
		border-collapse: collapse; 
		text-align: center;
	}
		table.fourteen-table td, 
		table.fourteen-table th {
			border: 1px solid black;
			padding: .3em .6em;
		}
		table.fourteen-table .sep, .dark-mode table.fourteen-table .sep { 
			border: none; 
		}
		.dark-mode table.fourteen-table td, 
		.dark-mode table.fourteen-table th {
			border: 1px solid #DDD;
			padding: .3em .6em;
		}
		.dark-mode table.fourteen-table .colored { 
			color: black;
		}
	table.stage-answer th {
		text-align: right; 
	}
	table.stage-answer td,
	table.stage-answer th { 
		border: 1px solid black;  
	}
	.dark-mode table.stage-answer td,
	.dark-mode table.stage-answer th {
		border: 1px solid #DDD;
	}
/* 1D Chess */
	span.one-d-chess-black-move {
		background: black;
		color: #EEE;
		padding: 0px 4px;
	}
	span.one-d-chess-white-move {
		background: #EEE;
		color: black;
		padding: 0px 4px;
	}
/* 2048 */
	div.twok48 {
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
	}
		div.twok48 div.grid-label {
			display: inline-block;
			padding: 5px 0;
			margin: 10px 0;
			min-width: 150px;
			text-align: center;
		}
		div.twok48 span.arrow-button {
			padding: 5px 10px;
			margin: 10px;
			cursor: pointer;
			background: #EEE4DA;
			color: black;
			font-weight: 900px;
			border-radius: 6px;
		}
			div.twok48 span.arrow-button.left {
				margin-left: -4px;
			}
		div.twok48 div.game-container {
			position: relative;
			width: 300px;
			height: 300px;
			background: #BBADA0;
			border-radius: 6px;
		}
			div.twok48 div.game-container div.grid-container,
			div.twok48 div.game-container div.tile-container {
				position: absolute;
				width: 70%;
				height: 70%;
				top: 15%;
				left: 15%;
			}
			div.twok48 div.game-container div.grid-container {
				z-index: 10;
			}
			div.twok48 div.game-container div.grid-container div.backing-tile {
				position: absolute;
				width: 60px;
				height: 60px;
				background: #CDC1B4;
				border-radius: 6px;
				transform: translate(-50%, -50%);
			}
			div.twok48 div.game-container div.tile-container { 
				z-index: 20;
			}
				div.twok48 div.game-container div.tile-container div.wrapper {
					position: absolute;
					width: 60px;
					height: 60px;
					transform: translate(-50%, -50%);
				}
					div.twok48 div.game-container div.tile-container div.wrapper div.inner {
						text-align: center;
						line-height: 60px;
						font-weight: 900px;
						border-radius: 6px;
					}
/* 7 */
	svg.seven-graphic {
		height: 3cm; 
		display: block;
	}
		svg.seven-graphic path.segment,
		svg.seven-graphic circle.led {
			stroke: black;
			stroke-width: 0.1;
		}
/* Algebra */
	img.algebra-image {
		height: 3em;
	}
	.dark-mode img.algebra-image {
		filter: invert(90%);
	}
/* A>N<D */
	span.and-logic-symbol {
		font-family: Logic-round;
	}
/* Apple Pen & Pineapple Pen */
	table.ppap-table {
		width: 3in;
	}
		table.ppap-table td {
			border: 1mm solid; 
			text-align: center;
		}
			table.ppap-table td > img {
				width: 1cm; 
				margin: 0
			}
/* Arithmetic Cipher */
	table.arith-c-freq-table {
		width: 100%;
		margin-bottom: 0.1cm;
	}
		table.arith-c-freq-table td,
		table.arith-c-freq-table th {
			border: 1px solid;
			padding: 0.5mm 1mm;
		}
		table.arith-c-freq-table th,
		table.bit-value-table th {
			background: #EEE;
		}
		.dark-mode table.arith-c-freq-table th,
		.dark-mode table.bit-value-table th {
			background: #444;
		}
	table.bit-value-table td,
	table.bit-value-table th {
		border: 1px solid;
		padding: 0.5mm 2mm;
	}
	table.bit-value-table td.bits {
		font-family: monospace;
		font-size: 14pt;
	}
		table.bit-value-table td.bits span.red {
			background: hsl(0, 100%, 90%);
		}
		table.bit-value-table td.bits span.blue {
			background: hsl(230, 100%, 90%);
		}
		.dark-mode table.bit-value-table td.bits span.red {
			background: hsl(0, 80%, 40%);
		}
		.dark-mode table.bit-value-table td.bits span.blue {
			background: hsl(230, 80%, 40%);
		}
/* Badugi */
	span.badugi-cards {
		font-family: 'Dejavu Sans'; 
		font-size: 50pt;
	}
/* Battleship */
	table.battleship-table {
		border-spacing: 0;
		border-collapse: separate;
	}
		table.battleship-table td {
			border: 3px solid transparent;
			text-align: center;
			padding: 0;
		}
			table.battleship-table td.safe {
				border: 3px solid red;
			}
		table.battleship-table img {
			display: block;
		}
/* Binary Cipher */ 
	table.binary-c-table {
		margin: 1mm 0 3mm;
	}
	table.binary-c-table td { 
		border: 1px solid;
		padding: 0;
		text-align: center;
		width: 0.75cm;
		height: 0.75cm;
	}
/* Binary Puzzle */
	table.binary-puzzle-table {
		border-collapse: collapse;
	}
		table.binary-puzzle-table td {
			border: 1px solid;
			padding: 0.4em 0;
			width: 1.1cm;
			text-align: center;
		}
			table.binary-puzzle-table td.red {
				background: #FCC;
			}
			table.binary-puzzle-table td.green {
				background: #CFC;
			}
			.dark-mode table.binary-puzzle-table td.red {
				background: #C55;
			}
			.dark-mode table.binary-puzzle-table td.green {
				background: #5C5;
			}
/* Binary Tree */
	svg.binary-tree {
		width: 50%;
		display: block;
		margin-bottom: 2mm;
	}
		svg.binary-tree line {
			stroke: black;
			stroke-width: 0.1;
		}
		svg.binary-tree text {
			font-size: 0.85px;
			text-anchor: middle;
			dominant-baseline: central;
		}
		.dark-mode svg.binary-tree line {
			stroke: #EEE;
		}
/* The Bioscanner */
	img.bioscanner-image {
		display: block;
		margin: 0 5px 5px 0;
	}
/* Boolean Venn Diagram */
	svg.boolean-venn-diagram .section {
		stroke: black;
		stroke-width: 3;
	}
	svg.boolean-venn-diagram text.section-text {
		text-anchor: middle;
		dominant-baseline: central;
		fill: black;
	}
/* Boozleage */
	svg.boozleage {
		width: 4.5in; 
		display: block; 
		margin: 0
	}
		svg.boozleage path.button {
			stroke: black;
			stroke-width: 2;
		}
		svg.boozleage path.square {
			stroke: #4FF;
			stroke-width: 4;
			stroke-opacity: 0.7;
			fill: none;
		}
		svg.boozleage circle.letter-circle {
			fill: white;
			stroke: black;
			stroke-width: 2;
		}
		svg.boozleage text.letter {
			font-size: 12px;
			color: black;
			dominant-baseline: central;
			text-anchor: middle;
		}
/* Braille */
	svg.braille-pattern {
		width: 10%;
		border: 1px solid;
	}
		svg.braille-pattern circle.dot {
			fill: black;
		}
		svg.braille-pattern rect.highlight {
			fill: rgba(255, 255, 0, 0.5);
		}
		svg.braille-pattern text{
			text-anchor: middle;
			dominant-baseline: central;
			font-size: 0.6px;
		}
		svg.braille-pattern text.on-dot {
			fill: white;
		}
		svg.braille-pattern text.no-dot {
			fill: black;
		}
		.dark-mode svg.braille-pattern text.on-dot {
			fill: black;
		}
		.dark-mode svg.braille-pattern circle.dot {
			fill: #EEE;
		}
/* Buttonage */
	svg.buttonage {
		display: block; 
		width: 4in; 
		margin-bottom: 0.5cm;
	}
		svg.buttonage circle.button {
			stroke: #333;
			stroke-width: 0.5;
		}
		svg.buttonage text.button-text {
			font-size: 14px;
			dominant-baseline: central;
			text-anchor: middle;
		}
/* CA-RPS */
	svg.ca-rps {
		width: 3in;
		display: block;
	}
		svg.ca-rps rect.tile {
			stroke: black;
			stroke-width: 0.5;
		}
/* Chess */
	table.chess-table {
		border-collapse: collapse;
	}
		table.chess-table tr.coordinate-indicator-row td {
			text-align: center;
		}
		table.chess-table td.coordinate-indicator-cell-left {
			vertical-align: middle;
			padding-right: 1em;
		}
		table.chess-table td.coordinate-indicator-cell-right {
			vertical-align: middle;
			padding-left: 1em;
		}
		
		table.chess-table td.tile {
			width: 50px;
			height: 50px;
			border: 1px solid black;
			background: contain;
		}
			table.chess-table td.tile.top-edge {
				border-top: 3px solid black;
			}
			table.chess-table td.tile.right-edge {
				border-right: 3px solid black;
			}
			table.chess-table td.tile.bottom-edge {
				border-bottom: 3px solid black;
			}
			table.chess-table td.tile.left-edge {
				border-left: 3px solid black;
			}
			table.chess-table td.tile.solution-red {
				background: #FCC;
			}
			table.chess-table td.tile.gray {
				background: #EEE;
			}
			table.chess-table td.tile.white {
				background: #FFF;
			}
/* Color Grid */
	svg.color-grid-stage {
		width: 250;
		height: auto;
		display: block;
		margin: 5px 0 10px;
	}
		svg.color-grid-stage circle.button {
			fill: #363636;
		}
/* Colored Switches */
	svg.colored-switches * {
		stroke-width: 0.25px;
		stroke: black;
	}
		svg.colored-switches ellipse.switch-base {
			fill: #bdc4d3;
		}
		svg.colored-switches line.connector {
			stroke-width: 4px;
		}
		svg.colored-switches text.desired-state {
			font-size: 7px;
		}
		svg.colored-switches rect.state {
			fill: #d7dbe5;
		}
		svg.colored-switches g.incorrect line {
			stroke-width: 3px;
			stroke: red;
		}
		.dark-mode svg.colored-switches line.connector {
			stroke: #EEE;
		}
		.dark-mode svg.colored-switches text.desired-state {
			fill: white;
		}
/* Colour Flash (and Translated) */
	table.colour-flash-table {
		border-collapse: collapse;
		border: none;
		display: block;
	}
		table.colour-flash-table th,
		table.colour-flash-table td {
			border-style: solid;
			border-width: 2px;
			text-align: center;
			padding-left: 7px;
			padding-right: 7px;
		}
			table.colour-flash-table td.centered {
				text-align: center;
			}
/* Complicated Wires */
	svg.comp-wires {
		width: 300px;
	}
		svg.comp-wires circle.led,
		svg.comp-wires rect.wire {
			stroke-width: 0.025px;
			stroke: black;
		}
			svg.comp-wires circle.led.lit {
				fill: white;
			}
			svg.comp-wires circle.led.unlit {
				fill: black;
			}
			.dark-mode svg.comp-wires circle.led.unlit {
				fill: #222;
			}
		svg.comp-wires path.star {
			fill: black;
		}
		.dark-mode svg.comp-wires path.star {
			fill: #EEE;
		}
		svg.comp-wires text.cut {
			font-size: 0.2px;
			text-anchor: middle;
		}
			svg.comp-wires text.cut.green {
				fill: green;
			}
			svg.comp-wires text.cut.red {
				fill: red;
			}
			.dark-mode svg.comp-wires text.cut.green {
				fill: lime;
			}
			.dark-mode svg.comp-wires text.cut.red {
				fill: #F44;
			}
/* Connected Monitors */
	table.connected-monitors * {
		font-size: 12px;
		border-collapse: collapse;
		border-style: solid;
		border-width: 1px;
		text-align: center;
	}
		table.connected-monitors .w40 {
			width: 40px;
		}
		table.connected-monitors .w60 {
			width: 60px;
		}
		table.connected-monitors .w80 {
			width: 80px;
		}
		table.connected-monitors .w300 {
			width: 300px;
		}
/* Coordinates */
	table.coordinates-table {
		border-collapse: collapse;
		width: 99%;
		table-layout: fixed;
	}
		table.coordinates-table tr {
			height: 4em;
		}
		table.coordinates-table td {
			border: 1px solid;
			text-align: center;
		}
			table.coordinates-table td.clue {
				white-space: pre-line;
			}
				table.coordinates-table td.clue.green { 
					border: 3px solid #f00;
				}
				table.coordinates-table td.clue.red {
					border: 3px solid #0c0;
				}
				table.coordinates-table td.clue.small {
					font-size: 80%;
				}
				table.coordinates-table td.clue.large {
					font-size: 125%;
				}
/* Crackbox */
	table.crackbox {
		font-size: 20px;
	}
		table.crackbox td {
			text-align: center;
			width: 30px;
			height: 30px;
		}
			table.crackbox td.black {
				background-color: black;
			}
			table.crackbox td.number {
				color: black;
			}
				table.crackbox td.number.submitted {
					background-color: rgb(60,155,58);
				}
				table.crackbox td.number.given {
					background-color: rgb(194,185,178);
				}
			.dark-mode table.crackbox td.black {
				background-color: #444;
			}
/* Critters */
	table.critters {
		border-collapse: collapse
	}
		table.critters td {
			text-align: center;
			border: thin solid black;
			width: 25px;
			height: 25px;
		}
			table.critters td.gray {
				background-color: #888;
			}
			table.critters td.blue {
				background-color: #7BC0F9;
			}
			table.critters td.pink {
				background-color: #F97BF5;
			}
			table.critters td.yellow {
				background-color: #F9EB7B;
			}
/* Cruel Match 'em */
	svg.cruel-matchem {
		display: block;
		width: 3in;
	}
		svg.cruel-matchem rect.background {
			fill: #C33;
		}
		svg.cruel-matchem rect.card {
			stroke: black;
			stroke-width: 1.5px;
		}
		svg.cruel-matchem path.symbol {
			stroke: black;
			stroke-width: 2.5px;
		}
		svg.cruel-matchem text.color-text {
			font-size: 9px;
			text-anchor: middle;
			dominant-baseline: central;
		}
/* Cruel Synesthesia */ 
	svg.cruel-synesthesia rect.color-cell {
		stroke: #444;
		stroke-width: 1px;
	}
	svg.cruel-synesthesia rect.gray-cell {
		fill: #CCC;
		stroke: #888;
		stroke-width: 1px;
	}
	svg.cruel-synesthesia text {
		text-anchor: middle;
		font-size: 50px;
		fill: black;
	}
/* The Cube */ 
	table.cube-table {
		border-collapse: collapse; 
		border: 2px solid; 
		margin: 8pt 0 24pt;
	}
		table.cube-table td {
			text-align: center;
			border: 1px solid #888;
			padding: .2em .3em;
		}
		table.cube-table th {
			text-align: left;
			border: 1px solid #888;
			padding: .2em .4em;
		}
		table.cube-table div.icon {
			background-image: url('img/The Cube/Rotations.png');
			background-size: 300px 100px;
			background-repeat: no-repeat;
			width: 50px;
			height: 50px;
		}
			table.cube-table div.icon.rotation.rotation-tipbackwards {
				background-position: 0 0;
			}
			table.cube-table div.icon.rotation.rotation-tipforwards {
				background-position: -50px 0;
			}
			table.cube-table div.icon.rotation.rotation-tipright {
				background-position: -100px 0;
			}
			table.cube-table div.icon.rotation.rotation-tipleft{
				background-position: -150px 0;
			}
			table.cube-table div.icon.rotation.rotation-rotateright {
				background-position: -200px 0;
			}
			table.cube-table div.icon.rotation.rotation-rotateleft {
				background-position: -250px 0;
			}
		table.cube-table div.wire {
			width: 50px;
			height: 20px;
			border: 1px solid black;
			box-sizing: border-box;
			position: relative;
			display: inline-block;
		}
			table.cube-table div.wire > div {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 10pt;
			}
		table.cube-table div.symbol {
			font-family: KRA;
			font-size: 28pt;
		}
		table.cube-table tr.final td,
		table.cube-table tr.final th {
			background-color: #DFE;
		}
		.dark-mode table.cube-table tr.final td,
		.dark-mode table.cube-table tr.final th {
			background-color: #8C9;
			color: black;
		}
		.dark-mode table.cube-table div.icon.rotation {
			filter: invert(90%);
		}
	div.cube-submit-button div.inner {
		border: 1px solid black;
		padding: .1em .4em;
		margin: .5em 0 2em;
		display: inline-block;
		color: black;	
	}
		div.cube-submit-button div.inner span {
			font-family: KRA;
			font-size: 28pt;
		}
	table.cube-keypad {
		background: #CDF;
		border-spacing: 5px;
		border: 2px solid black;
		font-family: KRA;
		font-size: 28pt;
		margin: 8pt 0 24pt;
		color: black;
	}
		table.cube-keypad td {
			padding: 8pt;
			border: 6px solid rgba(233, 244, 255, .4);
			border-right-color: rgba(0, 0, 0, .3); 
			border-bottom-color: rgba(0, 0, 0, .3);
		}
	table.cube-stage-solution {
		border-collapse: collapse; 
		margin: 4pt 0 12pt;
	}
		table.cube-stage-solution td {
			border: 1px solid #888; 
			width: 18pt;
			height: 18pt;			
			text-align: center;
			padding: 0;
		}
/* Cursor Maze */
	table.cursor-maze td {
		width: 20px;
		height: 20px;
		text-align: center;
	}
		table.cursor-maze td.black {
			background-color: black;
		}
		table.cursor-maze td.red {
			background-color: red;
		}
		table.cursor-maze td.green {
			background-color: green;
		}
		table.cursor-maze td.cyan {
			background-color: cyan;
		}
/* Diffusion */
	svg.diffusion {
		display: block;
		width: 3in;
		margin: 2mm 0 4mm;
	}
		svg.diffusion rect.tile {
			stroke-width: 2px;
			stroke: black;
		}
		svg.diffusion text {
			text-anchor: middle;
			fill: white;
		}
/* Digital Grid */
	svg.digital-grid {
		display: block;
		width: 2.5in;
	}
		svg.digital-grid rect.tile {
			stroke: #222;
			stroke-width: 0.5px;
		}
		svg.digital-grid rect.cover {
			fill: black;
			stroke: black;
			stroke-width: 0.5px;
		}
		svg.digital-grid text {
			text-anchor: middle;
			dominant-baseline: central;
		}
			svg.digital-grid text.digit {
				font-size: 7px;
			}
			svg.digital-grid text.color-name {
				font-size: 4px;
			}
		svg.digital-grid path.cross {
			fill: #F66;
			stroke: #000;
			stroke-width: 0.5px;
		}
/* Discharge Maze */
	svg.discharge-maze {
		display: block;
		width: 3in;
	}
		svg.discharge-maze line {
			stroke: black;
			stroke-width: 10px;
		}
		svg.discharge-maze circle.indicator {
			stroke: black;
			stroke-width: 10px;
			fill: none;
		}
		.dark-mode svg.discharge-maze line,
		.dark-mode svg.discharge-maze circle.indicator {
			stroke: #DDD;
		}
/* Directing Buttons and Uncoloured Buttons */
	table.blank-buttons {
		display: block;
		margin: 5px 0;
		font-size: 16pt;
		font-style: italic;
	}
		table.blank-buttons td {
			border: 1px solid #222;
			padding: 0;
			width: 1cm;
			height: 1cm;
			text-align: center;
		}
		table.blank-buttons td.r {
			background-color: #FF4040;
		}
		table.blank-buttons td.g {
			background-color: #40FF40;
		}
		table.blank-buttons td.b {
			background-color: #4040FF;
		}
		table.blank-buttons td.y {
			background-color: #FFFF40;
		}
		table.blank-buttons td.k {
			background-color: #404040;
		}
		table.blank-buttons td.w {
			background-color: #BFBFBF;
		}
			table.blank-buttons td svg.arrow {
				margin: 0;
				width: .8cm;
				height: .8cm;
				vertical-align: top;
			}
			table.blank-buttons td svg.arrow path.arrow-shape {
				fill: none;
				stroke: black;
				stroke-width: 1px;	
				stroke-linejoin: round;
				stroke-linecap: round;
			}
	.dark-mode table.blank-buttons.faulty td {
		border: 1px solid #DDD;
	}
		
		
/* Doofenshmirtz Evil Inc. */
	div.doofenshmirtz {
		display: flex; 
		flex-flow: row wrap; 
		column-gap: 0.5in;
	}
		div.doofenshmirtz img {
			width: 2in;
		}
/* Dungeon */
	button.dungeon-button {
		background: #ccf; 
		border: 1px solid #88d; 
		width: 5cm; 
		height: 1cm; 
		text-align: center;
	}
	div.dungeon-map {
		background-image: url("img/Dungeon/Map.png");
		background-repeat: no-repeat;
		min-height: 612px;
	}
		div.dungeon-map div.walls {
			background-image: url("img/Dungeon/MapWalls.png");
			background-repeat: no-repeat;
			min-height: 612px;
			color: #363636;
			font-weight: bold;
			font-size: larger;
		}
		div.dungeon-map div.stage {
			position: absolute;
			min-width: 80px;
			min-height: 55px;
		}
			div.dungeon-map div.stage div.stage-info {
				margin: auto;
				width: min-content;
				padding-top: 3px;
				padding-right: 10px;
			}
				div.dungeon-map div.stage div.stage-info div.die {
					background-image: url("img/Dungeon/Die.png");
					background-repeat: no-repeat;
					width: min-content;
				}
				div.dungeon-map div.stage div.stage-info div.stairs { 
					background-image: url("img/Dungeon/Stairs.png");
					background-repeat: no-repeat;
					background-size: auto 100%;
					width: min-content;
				}
				div.dungeon-map div.stage div.stage-info p.value {
					margin: 0 0 0 25px;
					width: min-content;
				}
		div.dungeon-map div.enemy-encounter {
			position: absolute;	
		}
			div.dungeon-map div.enemy-encounter div.enemy-popup {
				background-color: #ddd; 
				border-radius: 5px; 
				text-align: center; 
				padding: 15px;
			}
				div.dungeon-map div.enemy-encounter div.enemy-popup p.label {
					margin: auto;
				}
				div.dungeon-map div.enemy-encounter div.enemy-popup p.label.strike {
					color: red;
				}
		div.dungeon-map div.struck-stage {
			transform: scale(.8) translate(0, -10px);
		}
			div.dungeon-map div.struck-stage div.strike-indicator {
				background-image: url("img/Dungeon/X.png");
				background-repeat: no-repeat;
				background-size: auto 100%;
				width: min-content;
			}
				div.dungeon-map div.struck-stage div.strike-indicator p.strike-count {
					margin: 0 0 0 25px;
					width: min-content;
					color: red;
				}
/* Emoticon Math */
	span.emoticon-math {
		font-family: "Emoticons";
		font-size: 9px;
	}
/* ENA Cipher */
	svg.ena-cipher-stairway-key {
		display: block;
		width: 2in;
		margin: 2mm 0;
	}
		svg.ena-cipher-stairway-key rect { 
			stroke: #888;
			stroke-width: 2;
			fill: #ccc;
		}
		svg.ena-cipher-stairway-key text {
			text-anchor: middle;
			dominant-baseline: central;
		}
/* Extended Boolean Venn Diagram */
	svg.extended-bvd {
		display: block;
		width: 4in;
		margin: 0;
	}
		svg.extended-bvd g.outlines ellipse,
		svg.extended-bvd g.outlines circle.none-segment {
			stroke: black;
			stroke-width: 1px;
		}
		svg.extended-bvd g.outlines ellipse {
			fill: none;
		}
/* Fitting In */
	svg.fitting-in {
		display: block;
	}
		svg.fitting-in rect.background {
			fill: #DDD;
		}
		svg.fitting-in rect.white {
			fill: #F8F8F8;
		}
		svg.fitting-in rect.black {
			fill: #222;
		}
	svg.fitting-in.grid {
		width: 4in;
	}
/* Juxtacolour Flash */
	svg.juxtacolour-flash {
		display: block;
		width: 3in;
	}
		svg.juxtacolour-flash line {
			stroke: black;
			stroke-width: 20px;
		}
		.dark-mode svg.juxtacolour-flash line {
			stroke: #DDD;
		}
/* Levenshtein Distance */
	table.levenshtein {
		display: block;
		table-layout: fixed;
		margin: 2mm auto;
	}
		table.levenshtein td,
		table.levenshtein th {
			width: .75cm;
			height: .75cm;
			text-align: center;
		}
			table.levenshtein td:not(.empty),
			table.levenshtein th:not(.empty) {
				border: 1px solid;
			}
/* Light Bulbs */ 
	table.light-bulbs {
		display: block;
	}
		table.light-bulbs td,
		table.light-bulbs th:not(.corner) {
			border: 1px solid;
			text-align: center;
			padding: 4px;
		}
/* Maze 'em */
	svg.maze-em {
		display: block;
		width: 2in;
		margin: 1mm 0;
	}
		svg.maze-em line {
			stroke: black;
			stroke-width: 1px;
		}
		svg.maze-em text {
			dominant-baseline: central;
			text-anchor: middle;
			font-size: 5px;
		}
		.dark-mode svg.maze-em line {
			stroke: #DDD;
		}
		.dark-mode svg.maze-em text {
			fill: #DDD;
		}
/* Not Coordinates */ 
	table.not-coords-table {
		display: block;
		table-layout: fixed;
		margin: 2mm auto;
	}
		table.not-coords-table td {
			width:  1.65cm;
			height: 1.65cm;
			text-align: center;
			vertical-align: middle;
			border: 2px solid black;
		}
		table.not-coords-table td.vertex {
			background: #8F8;
			color: black;
		}
		.dark-mode table.not-coords-table td {
			border-color: #EEE;
		}
	img.not-coords-shape {
		width: 1cm;
		display: inline;
		margin: 0 auto;
	}
	.dark-mode img.not-coords-shape {
		filter: invert(90%);
	}
/* Signals */
	svg.signals-switches {
		display: block;
		width: 2in;
	}
		svg.signals-switches g.switch-base {
			fill: #F4F4E4;
			stroke: #D3D3AB;
			stroke-width: 1px;
		}
		svg.signals-switches text {
			dominant-baseline: central;
			text-anchor: middle;
			fill: black;
		}
			svg.signals-switches text.channel {
				font-size: 4px;
			}
			svg.signals-switches text.sign {
				font-weight: bold;
				font-size: 5px;
			}
/* Simon Smothers */ 
	svg.simon-smothers {
		display: block;
		width: 3in;
	}
		svg.simon-smothers rect.square {
			stroke-width: 0.1px;
			fill: none;
		}
		svg.simon-smothers text.square-color {
			dominant-baseline: hanging;
			text-anchor: left;
			font-size: 0.33px;
			fill: black;
		}
		svg.simon-smothers text.tile-color {
			dominant-baseline: central;
			text-anchor: middle;
			font-size: 0.5px;
		}
		svg.simon-smothers line.difference {
			stroke-width: 0.1px;
			stroke: #F00;
			stroke-linecap: round;
		}
			
/* Skewers */
	svg.skewers {
		display: block;
	}
		svg.skewers rect.background {
			fill: #111;
			stroke: #310;
			stroke-width: 12px;
		}
		svg.skewers g.sword path.blade,
		svg.skewers g.sword path.bottom {
			fill: #777;
		}
		svg.skewers g.sword path.handle {
			fill: #310;
		}
		svg.skewers g.cell path.diamond {
			stroke: #222;
			stroke-width: 8px;
		}
		svg.skewers g.cell text.color {
			font-size: 30pt;
			dominant-baseline: central;
			text-anchor: middle;
		}
	svg.skewers.displayed {
		width: 2.5in;
	}
	svg.skewers.solution {
		width: 3.75in;
		margin: 0;
	}
/* Unfair's Forgotten Ciphers */
	table.ufc-matrix {
		margin: 0.25cm 0;
	}
		table.ufc-matrix td.bracket {
			width: 2mm;
		}
			table.ufc-matrix td.bracket.left {
				border-left: 2px solid;
			}
			table.ufc-matrix td.bracket.right {
				border-right: 2px solid;
			}
			table.ufc-matrix td.bracket.top {
				border-top: 2px solid;
			}
			table.ufc-matrix td.bracket.bottom {
				border-bottom: 2px solid;
			}
		table.ufc-matrix td:not(.bracket) {
			width: 0.8cm;
			height: 0.8cm;
			padding: 0;
			text-align: center;
		}
	table.ufc-huffman-key {
		margin: 0.1cm 0 0.25cm;
	}
		table.ufc-huffman-key td,
		table.ufc-huffman-key th {
			border: 1px solid;
			padding: 2px 6px;
			text-align: center;
		}
	svg.ufc-keystring-colors {
		display: block;
		width: 6in;
		margin-bottom: 0.25cm;
	}
		svg.ufc-keystring-colors text {
			font-size: 10px;
			dominant-baseline: middle;
			text-anchor: middle;
		}
		.dark-mode svg.ufc-keystring-colors path {
			fill: #DDD;
		}
		.dark-mode svg.ufc-keystring-colors path.s {
			stroke: #DDD;
		}
/* Valves */
	svg.valves {
		display: inline;
		width: 48px;
		margin: 0 0 -2px 0;
	}