/* Used by Cruel Schulte Table */
@font-face{
	font-family: "5Geomedings";
	src: local("5Geomedings"), url(5Geomedings.ttf)
}
@font-face{
	font-family: "ArtOfCreation";
	src: local("ArtOfCreation"), url(ArtOfCreation.ttf)
}
@font-face{
	font-family: "Barazhad";
	src: local("Barazhad"), url(Barazhad.otf)
}
@font-face{
	font-family: "BinarySoldiers";
	src: local("BinarySoldiers"), url(BinarySoldiers.ttf)
}
@font-face{
	font-family: "botw-hylian";
	src: local("botw-hylian"), url(botw-hylian.ttf)
}
@font-face{
	font-family: "Cait_sith";
	src: local("Cait_sith"), url(Cait_sith.ttf)
}
@font-face{
	font-family: "Catabase";
	src: local("Catabase"), url(Catabase.ttf)
}
@font-face{
	font-family: "CropCircleDingbats";
	src: local("CropCircleDingbats"), url(CropCircleDingbats.ttf)
}
@font-face{
	font-family: "DeadSpace_Unitology";
	src: local("DeadSpace_Unitology"), url(DeadSpace_Unitology.ttf)
}
@font-face{
	font-family: "Epta";
	src: local("Epta"), url(Epta.ttf)
}
@font-face{
	font-family: "Glipervelz-Origy";
	src: local("Glipervelz-Origy"), url(Glipervelz-Origy.ttf)
}
@font-face{
	font-family: "JungleSlang";
	src: local("JungleSlang"), url(JungleSlang.ttf)
}
@font-face{
	font-family: "Kakoulookiam";
	src: local("Kakoulookiam"), url(Kakoulookiam.ttf)
}
@font-face{
	font-family: "KHScala";
	src: local("KHScala"), url(KHScala.otf)
}
@font-face{
	font-family: "Kilgish";
	src: local("Kilgish"), url(Kilgish.ttf)
}
@font-face{
	font-family: "Leafs";
	src: local("Leafs"), url(Leafs.ttf)
}
@font-face{
	font-family: "LuciusCipher";
	src: local("LuciusCipher"), url(LuciusCipher.ttf)
}
@font-face{
	font-family: "meeksa";
	src: local("meeksa"), url(meeksa.ttf)
}
@font-face{
	font-family: "MeowsPhone";
	src: local("MeowsPhone"), url(MeowsPhone.ttf)
}
@font-face{
	font-family: "Modern_Cybertronic";
	src: local("Modern_Cybertronic"), url(Modern_Cybertronic.otf)
}
@font-face{
	font-family: "Morse01";
	src: local("Morse01"), url(Morse01.ttf)
}
@font-face{
	font-family: "squarethings";
	src: local("squarethings"), url(squarethings.ttf)
}
@font-face{
	font-family: "Yelekish";
	src: local("Yelekish"), url(Yelekish.ttf)
}
@font-face{
	font-family: "stars3d";
	src: local("stars3d"), url(stars3d.ttf)
}
@font-face{
	font-family: "StyleBats";
	src: local("StyleBats"), url(StyleBats.ttf)
}
@font-face{
	font-family: "wavefont";
	src: local("wavefont"), url(wavefont.ttf)
}
@font-face{
	font-family: "zuptype_pica";
	src: local("zuptype_pica"), url(zuptype_pica.ttf)
}