@font-face {
  font-family: Alegreya;
  src: url(../../HTML/font/Alegreya-Bold.ttf);
}

h1 {
    margin: 24pt 0;
    text-align: center;
    color: hsl(220, 50%, 50%);
    font-family: Alegreya;
    font-size: 64pt;
}

